#ux-side-nav {
    margin: 20px 0 0 0;
}

#ux-side-nav a{
	display: inline-block;
	padding: 5px;
	
}

#ux-side-nav a.selected {
    color: #FFF;
	background-color: #08C;
	padding: 5px;
    text-decoration: none;
	font-weight: normal;
    border-left: none;
	border-radius: 5px;
	margin-left: 0;
}

#ux-side-nav a:hover {
    background-color: #E5E5E5;
	text-decoration: none;
	border-radius: 5px;
}

#ux-side-nav .ux-expandable.expanded:hover {
    background-color: #E5E5E5;
}