/*
* PopOver Navigation Edits
*/

#ux-side-nav-container #ux-side-nav {
	margin-top: 0;
	margin-bottom: 10px;
}

#ux-side-nav-container #ux-side-nav ul {
	margin-left: 0 !important;
}

#ux-side-nav-container #ux-side-nav > ul > li:last-child a {
	border-bottom: 0;
}

#ux-side-nav-container #ux-side-nav ul ul li a {
	margin-right: 1px;
}

#ux-side-nav-container #ux-side-nav ul ul ul li a {
	margin-right: 2px;
	margin-left: -2px;
}

/*
 * Side Navigation
 */

#ux-side-nav {
	width: 100%;
}

#ux-side-nav ul li a{
	margin-left: 0px;
	margin-right: 0px;
}

#ux-side-nav ul {
	display: block;
	list-style: none;
	font-size: 16px;
	margin-bottom: -6px;
}

#ux-side-nav li {
	font-size: 14px;
}

#ux-side-nav li li {
	font-size: 12px;
}

#ux-side-nav li li li {
	font-size: 11px;
}

#ux-side-nav  li a {
	display: block;
	margin: 5px 1px -6px; 
	padding: 8px 14px;
	border-bottom: 1px solid #E5E5E5;
}

#ux-side-nav ul ul,
#ux-side-nav ul ul ul {
	padding-left: 20px;
	width: 100%;
}

#ux-side-nav ul ul {
	padding: 0 !important;
}

#ux-side-nav ul ul li a{
	color: #787878;
	padding-left: 28px;
	margin-left: -1px;
}

#ux-side-nav ul ul ul li a {
	color: #A5A5A5;
	margin-left: -2px;
	padding-left: 38px;
}

#ux-side-nav a.ux-expandable + ul {
	display: none;
	border: 1px solid transparent; /* DO NOT REMOVE, THIS FIXES THE JQUERY SLIDE DOWN JUMPYNESS! */
}

#ux-side-nav a {
	color: #4C4C4C;
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

#ux-side-nav a.selected {
	color: #FFF;
	background-color: #3D6683;
	text-decoration: none;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}


#ux-side-nav .ux-expandable {
	background: url(list-arrow2.png) no-repeat 94% center transparent;
}

#ux-side-nav .ux-expandable.expanded {
	background: url(list-arrow-down2.png) no-repeat 94% center transparent;
} 

#ux-side-nav a:hover {
	background-color: #E5E5E5 !important;
}

#ux-side-nav a.selected:hover {
	background-color: #3D6683 !important;
}