/*
 * Side Navigation
 */

 ul li {
  margin: none;
}

#ux-side-nav {
  border-top: none;
	width: 200px;
}

#ux-side-nav ul {
  display: block;
  list-style: none;
	font-size: 16px;
	margin-bottom: -6px;
  border-bottom: 1px solid #E5E5E5;
}

#ux-side-nav li {
  font-size: 14px;
}

#ux-side-nav li li {
  font-size: 12px;
}

#ux-side-nav li li li {
  font-size: 11px;
}

#ux-side-nav  li a {
  display: block;
  width: 190px \9;
  margin: 0 0 -6px; 
  padding: 8px 14px;
  border-bottom: none;
  border-top: 1px solid #E5E5E5;
}

#ux-side-nav  li li a {
  margin: 4px -2px -5px;
}

#ux-side-nav ul ul {
  padding-left: 20px;
	font-size: 14px;
  padding: 0 !important;
}

#ux-side-nav ul ul ul {
  padding-left: 20px;
	font-size: 12px;
}

#ux-side-nav a.ux-expandable + ul {
  display: none;
  border: 1px solid transparent; /* DO NOT REMOVE, THIS FIXES THE JQUERY SLIDE DOWN JUMPYNESS! */
}

/*
 * Courteny Side Nav Changes
 */

#ux-side-nav a {
  color: #4C4C4C;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}

#ux-side-nav a.selected {
  color: #FFF;
	background-color: #3D6683;
  text-decoration: none;
	font-weight: normal;
}

#ux-side-nav a:hover {
	background-color: #EFEFEF;
	padding: 5 5 5 20px;
  text-decoration: none;
}

#ux-side-nav .ux-expandable {
  background: url(list-arrow.png) no-repeat 182px center transparent;
  padding-left: 20px;
}

#ux-side-nav .ux-expandable.expanded {
  background: url(list-arrow-down.png) no-repeat 182px center transparent;
} 

#ux-side-nav .ux-expandable:hover {
  background-color: #E5E5E5 !important;
}

#ux-side-nav .ux-expandable.expanded:hover {
  background-color: #E5E5E5 !important;
}