/* CSS crunched with Crunch - http://crunchapp.net/ */
.swatch{display:block;width:30px;height:20px;margin:2px 26px 2px;border-radius:4px;}
.table{width:90%;}
.swatch-col{width:22%!important;}
.hex-col{width:72px;font-family:monospace;}
.hex-width{width:28%!important;}
