/* ========================= */
/* = BUTTON basic styles   = */
/* ========================= */




a.button, input.button, span.button, a.button_mini, input.button_mini, span.button_mini, button.button, button.button_mini, input.pagerGoto {
	background: url(../images/icons/icon-button-sprite.png) no-repeat #f5f5f5;
	border-left:1px solid #EEE;
	border-top:1px solid #EEE;
	border:1px solid #DEDEDE;
	border-radius: 3px;
	color: #369;
	cursor: pointer;
	display:block;
    float:left; 
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:12px;
    font-weight: bold;
	line-height:130%;
    margin:0 7px 0 0;
	overflow:visible;
	text-decoration:none;
	word-wrap: normal
}

.button:last-child, .button_mini:last-child {
	margin-right: 0px
}

a.button_mini, input.button_mini, span.button_mini, button.button_mini {
    font-size:10px;
    font-weight: normal
}

/* hover */
a.button:hover, a.button:focus, input.button:hover, input.button:focus, span.button:hover, span.button:focus, button.button:hover {
    background-color:#EEE;
    border:1px solid #E5E5E5;
    outline: 0
}
a.button_mini:hover, a.button_mini:focus, input.button_mini:hover, input.button_mini:focus, span.button_mini:hover, span.button_mini:focus, button.button_mini:hover {
    background-color:#EEE;
    border:1px solid #C3C3C3;
    outline: 0
}

/* spacing regular */
a.button, span.button, input.button, button.button{
	padding: 3px 3px 3px 23px
}
	/* override */
	.ie7 a.button, .ie7 span.button {
		padding: 4px 3px 3px 23px
	}
	.ie7 input.button, .ie7 button.button{
		padding: 3px 2px 1px 22px
	}
		
/* spacing regular no-icon */	
a.button.no-icon, span.button.no-icon, input.button.no-icon, button.button.no-icon { 
	background-image: none !important;
	padding-left: 8px !important; 
	padding-right: 6px !important
}
	/* override */
	.ie7 input.button.no-icon, .ie7 button.button.no-icon {
		padding-left: 7px !important; 
		padding-right: 6px !important 
	}

/* spacing mini */
a.button_mini, span.button_mini, input.button_mini, button.button_mini {
	padding: 1px 3px 2px 19px
}
	/* override */
	.ie7 a.button_mini, .ie7 span.button_mini {
	    padding: 2px 3px 2px 19px
	}
	.ie7 input.button_mini, .ie7 button.button_mini {
		padding: 1px 2px 0 18px
	}
	
/* Spacing in a caption tag with IE */
/* overide */
.ie7 caption a.button_mini, .ie6 caption a.button_mini, .ie7 caption span.button_mini .ie6 caption span.button_mini, .ie7 caption input.button_mini, .ie6 caption input.button_mini, .ie7 caption button.button_mini {
	float: right !important;
	margin-top: -15px;
	vertical-align: middle
}
	
/* spacing mini no-icon */
a.button_mini.no-icon, span.button_mini.no-icon, input.button_mini.no-icon, button.button_mini.no-icon { 
	background-image: none !important;
	padding-left: 8px !important; 
	padding-right: 6px !important
}
	/* override */
	.ie7 input.button_mini.no-icon, .ie7 button.button_mini.no-icon {
		padding-left: 7px !important; 
		padding-right: 5px !important
	}

/* disabled */
.button[disabled], .button_mini[disabled], .button.disabled, .button_mini.disabled, span.button, span.button_mini {
	color: #CCC !important; 
	cursor:not-allowed
}  
.button[disabled]:hover, .button[disabled]:focus, .button_mini[disabled]:hover, .button_mini[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button_mini.disabled:hover, .button_mini.disabled:focus {
	background-color:#f5f5f5; 
	color: #CCC
}

.button.primary, .button_mini.primary {
	background-color: #7096AF;
	border-color: #44687D;
	color: #FFF
}

.button.primary:hover, .button.primary:focus, .button_mini.primary:hover, .button_mini.primary:focus {
	background-color: #688BA0; 
	border-color: #6D94AF
}

/* =========== */
/* == Icons == */
/* =========== */

/* Save */
.button.save {
	background-position: 3px -29px
}
.button[disabled].save, .button.save.disabled, span.button.save {
	background-position: 3px -61px
}
.button_mini.save  {
	background-position: 2px -96px
}
.button_mini[disabled].save, .button_mini.save.disabled, span.button_mini.save {
	background-position: 2px -128px
}

/* Edit */

.button.edit {
	background-position: 3px -157px
}
.button[disabled].edit, .button.edit.disabled, span.button.edit {
	background-position: 3px -189px
}
.button_mini.edit {
	background-position: 2px -223px
}
.button_mini[disabled].edit, .button_mini.edit.disabled, span.button_mini.edit {
	background-position: 2px -255px
}

/* Up */

.button.arrow_up {
	background-position: 3px -285px
}
.button[disabled].arrow_up, .button.arrow_up.disabled, span.button.arrow_up {
	background-position: 3px -317px
}
.button_mini.arrow_up {
	background-position: 2px -352px
}
.button_mini[disabled].arrow_up, .button_mini.arrow_up.disabled, span.button_mini.arrow_up {
	background-position: 2px -384px
}

/* Down */

.button.arrow_down {
	background-position: 3px -413px
}
.button[disabled].arrow_down, .button.arrow_down.disabled, span.button.arrow_down {
	background-position: 3px -445px
}
.button_mini.arrow_down {
	background-position: 2px -479px
}
.button_mini[disabled].arrow_down, .button_mini.arrow_down.disabled, span.button_mini.arrow_down {
	background-position: 2px -511px
}

/* Left */
.button.arrow_left {
	background-position: 3px -540px
}
.button[disabled].arrow_left, .button.arrow_left.disabled, span.button.arrow_left {
	background-position: 3px -572px
}
.button_mini.arrow_left {
	background-position: 2px -607px
}
.button_mini[disabled].arrow_left, .button_mini.arrow_left.disabled, span.button_mini.arrow_left {
	background-position: 2px -639px
}

/* Right */
.button.arrow_right {
	background-position: 3px -668px
}
.button[disabled].arrow_right, .button.arrow_right.disabled, span.button.arrow_right {
	background-position: 3px -700px
}
.button_mini.arrow_right {
	background-position: 2px -735px
}
.button_mini[disabled].arrow_right, .button_mini.arrow_right.disabled, span.button_mini.arrow_right {
	background-position: 2px -767px
}

/* Upload */
.button.upload {
	background-position: 3px -765px
}
.button[disabled].upload, .button.upload.disabled, span.button.upload {
	background-position: 3px -797px
}
.button_mini.upload {
	background-position: 2px -831px
}
.button_mini[disabled].upload, .button_mini.upload.disabled, span.button_mini.upload {
	background-position: 2px -863px
}

/* Download */
.button.download {
	background-position: 3px -893px
}
.button[disabled].download, .button.download.disabled, span.button.download {
	background-position: 3px -925px
}
.button_mini.download {
	background-position: 2px -959px
}
.button_mini[disabled].download, .button_mini.download.disabled, span.button_mini.download {
	background-position: 2px -991px
}

/* Next */
.button.next {
	background-position: 3px -1021px
}
.button[disabled].next, .button.next.disabled, span.button.next {
	background-position: 3px -1053px
}
.button_mini.next {
	background-position: 2px -1088px
}
.button_mini[disabled].next, .button_mini.next.disabled, span.button_mini.next {
	background-position: 2px -1120px
}

/* Previous */
.button.previous {
	background-position: 3px -1148px
}
.button[disabled].previous, .button.previous.disabled, span.button.previous {
	background-position: 3px -1180px
}
.button_mini.previous {
	background-position: 2px -1215px
}
.button_mini[disabled].previous, .button_mini.previous.disabled, span.button_mini.previous {
	background-position: 2px -1247px
}

/* Refreash */
.button.refresh {
	background-position: 3px -1277px
}
.button[disabled].refresh, .button.refresh.disabled, span.button.refresh {
	background-position: 3px -1309px
}
.button_mini.refresh {
	background-position: 2px -1343px
}
.button[disabled].refresh, .button_mini.refresh.disabled, span.button_mini.refresh {
	background-position: 2px -1375px
}

/* Return */
.button.arrow_return {
	background-position: 3px -1405px
}
.button[disabled].arrow_return, .button.arrow_return.disabled, span.button.arrow_return {
	background-position: 3px -1437px
}
.button_mini.arrow_return {
	background-position: 2px -1471px
}
.button[disabled].arrow_return, .button_mini.arrow_return.disabled, span.button_mini.arrow_return {
	background-position: 2px -1503px
}

/* Undo */
.button.arrow_turn_left {
	background-position: 3px -1533px
}
.button[disabled].arrow_turn_left, .button.arrow_turn_left.disabled, span.button.arrow_turn_left {
	background-position: 3px -1565px
}
.button_mini.arrow_turn_left {
	background-position: 2px -1600px
}
.button_mini[disabled].arrow_turn_left, .button_mini.arrow_turn_left.disabled, span.button_mini.arrow_turn_left {
	background-position: 2px -1632px
}

/* Redo */
.button.arrow_turn_right {
	background-position: 3px -1661px
}
.button[disabled].arrow_turn_right, .button.arrow_turn_right.disabled, span.button.arrow_turn_right {
	background-position: 3px -1693px
}
.button_mini.arrow_turn_right {
	background-position: 2px -1728px
}
.button[disabled].arrow_turn_right, .button_mini.arrow_turn_right.disabled, span.button_mini.arrow_turn_right {
	background-position: 2px -1760px
}

/* Attach */
.button.attach, .button[disabled].attach, .button.attach.disabled, span.button.attach {
	background-position: 3px -1788px
}
.button_mini.attach, .button_mini[disabled].attach, .button_mini.attach.disabled, span.button_mini.attach {
	background-position: 2px -1823px
}

/* Calculator */
.button.calculator {
	background-position: 3px -1853px
}
.button[disabled].calculator, .button.calculator.disabled, span.button.calculator {
	background-position: 3px -1885px
}
.button_mini.calculator {
	background-position: 2px -1924px
}
.button[disabled].calculator, .button_mini.calculator.disabled, span.button_mini.calculator {
	background-position: 2px -1951px
}

/* Calandar */
.button.calendar {
	background-position: 3px -1981px
}
.button[disabled].calendar, .button.calendar.disabled, span.button.calendar {
	background-position: 3px -2013px
}
.button_mini.calendar {
	background-position: 2px -2048px
}
.button_mini[disabled].calendar, .button_mini.calendar.disabled, span.button_mini.calendar {
	background-position: 2px -2080px
}

/* Cancel */
.button.cancel {
	background-position: 3px -2109px
}
.button[disabled].cancel, .button.cancel.disabled, span.button.cancel {
	background-position: 3px -2141px
}
.button_mini.cancel  {
	background-position: 2px -2175px
}
.button_mini[disabled].cancel, .button_mini.cancel.disabled, span.button_mini.cancel {
	background-position: 2px -2207px
}

/* No */
.button.cross {
	background-position: 3px -2237px
}
.button[disabled].cross, .button.cross.disabled, span.button.cross {
	background-position: 3px -2269px
}
.button_mini.cross {
	background-position: 2px -2303px
}
.button_mini[disabled].cross, .button_mini.cross.disabled, span.button_mini.cross {
	background-position: 2px -2335px
}

/* Yes */
.button.check {
	background-position: 3px -2365px
}
.button[disabled].check, .button.check.disabled, span.button.check {
	background-position: 3px -2396px
}
.button_mini.check  {
	background-position: 2px -2432px
}
.button_mini[disabled].check, .button_mini.check.disabled, span.button_mini.check {
	background-position: 2px -2464px
}

/* Add */
.button.add {
	background-position: 3px -2493px
}
.button[disabled].add, .button.add.disabled, span.button.add {
	background-position: 3px -2525px
}
.button_mini.add {
	background-position: 2px -2560px
}
.button_mini[disabled].add, .button_mini.add.disabled, span.button_mini.add {
	background-position: 2px -2592px
}

/* Delete */
.button.delete {
	background-position: 3px -2621px
}
.button[disabled].delete, .button.delete.disabled, span.button.delete {
	background-position: 3px -2653px
}
.button_mini.delete	{
	background-position: 2px -2687px
}
.button_mini[disabled].delete, .button_mini.delete.disabled, span.button_mini.delete {
	background-position: 2px -2719px
}

/* Error */
.button.notice {
	background-position: 3px -2749px
}
.button[disabled].notice, .button.notice.disabled, span.button.notice {
	background-position: 3px -2783px
}
.button_mini.notice	{
	background-position: 2px -2816px
}
.button_mini[disabled].notice, .button_mini.notice.disabled, span.button_mini.notice {
	background-position: 2px -2848px
}

/* Important */
.button.exclamation {
	background-position: 3px -2877px
}
.button[disabled].exclamation, .button.exclamation.disabled, span.button.exclamation {
	background-position: 3px -2909px
}
.button_mini.exclamation {
	background-position: 2px -2944px
}
.button_mini[disabled].exclamation, .button_mini.exclamation.disabled, span.button_mini.exclamation {
	background-position: 2px -2976px
}

/* Stop */
.button.stop {
	background-position: 3px -3005px
}
.button[disabled].stop, .button.stop.disabled, span.button.stop {
	background-position: 3px -3037px
}
.button_mini.stop {
	background-position: 2px -3071px
}
.button_mini[disabled].stop, .button_mini.stop.disabled, span.button_mini.stop {
	background-position: 2px -3103px
}

/* Information */
.button.information {
	background-position: 3px -3133px
}
.button[disabled].information, .button.information.disabled, span.button.information {
	background-position: 3px -3165px
}
.button_mini.information {
	background-position: 2px -3200px
}
.button_mini[disabled].information, .button_mini.information.disabled, span.button_mini.information {
	background-position: 2px -3232px
}

/* Flag */
.button.flag {
	background-position: 3px -3261px
}
.button[disabled].flag, .button.flag.disabled, span.button.flag {
	background-position: 3px -3293px
}
.button_mini.flag {
	background-position: 2px -3328px
}
.button_mini[disabled].flag, .button_mini.flag.disabled, span.button_mini.flag {
	background-position: 2px -3360px
}

/* Page */
.button.page {
	background-position: 3px -3389px
}
.button[disabled].page, .button.page.disabled, span.button.page {
	background-position: 3px -3421px
}
.button_mini.page {
	background-position: 2px -3456px
}
.button_mini[disabled].page, .button_mini.page.disabled, span.button_mini.page {
	background-position: 2px -3488px
}

/* View */
.button.page_magnify {
	background-position: 3px -3517px
}
.button[disabled].page_magnify, .button.page_magnify.disabled, span.button.page_magnify {
	background-position: 3px -3549px
}
.button_mini.page_magnify {
	background-position: 2px -3584px
}
.button_mini[disabled].page_magnify, .button_mini.page_magnify.disabled, span.button_mini.page_magnify {
	background-position: 2px -3616px
}

/* Search */
.button.magnifier {
	background-position: 3px -3645px
}
.button[disabled].magnifier, .button.magnifier.disabled, span.button.magnifier {
	background-position: 3px -3677px
}
.button_mini.magnifier {
	background-position: 2px -3711px
}
.button_mini[disabled].magnifier, .button_mini.magnifier.disabled, span.button_mini.magnifier {
	background-position: 2px -3743px
}

/* Note */
.button.note {
	background-position: 3px -3773px
}
.button[disabled].note, .button.note.disabled, span.button.note {
	background-position: 3px -3805px
}
.button_mini.note {
	background-position: 2px -3839px
}
.button_mini[disabled].note, .button_mini.note.disabled, span.button_mini.note {
	background-position: 2px -3871px
}

/* Print */
.button.printer {
	background-position: 3px -3901px
}
.button[disabled].printer, .button.printer.disabled, span.button.printer {
	background-position: 3px -3933px
}
.button_mini.printer {
	background-position: 2px -3967px
}
.button_mini[disabled].printer, .button_mini.printer.disabled, span.button_mini.printer {
	background-position: 2px -3999px
}

/* Phone */
.button.telephone {
	background-position: 3px -4029px
}
.button[disabled].telephone, .button.telephone.disabled, span.button.telephone {
	background-position: 3px -4061px
}
.button_mini.telephone {
	background-position: 2px -4095px
}
.button_mini[disabled].telephone, .button_mini.telephone.disabled, span.button_mini.telephone {
	background-position: 2px -4127px
}

/* Email */
.button.email {
	background-position: 3px -4155px
}
.button[disabled].email, .button.email.disabled, span.button.email {
	background-position: 3px -4187px
}
.button_mini.email {
	background-position: 2px -4222px
}
.button_mini[disabled].email, .button_mini.email.disabled, span.button_mini.email {
	background-position: 2px -4254px
}

/* Preferences */
.button.wrench {
	background-position: 3px -4285px
}
.button[disabled].wrench, .button.wrench.disabled, span.button.wrench {
	background-position: 3px -4317px
}
.button_mini.wrench {
	background-position: 2px -4351px
}
.button_mini[disabled].wrench, .button_mini.wrench.disabled, span.button_mini.wrench {
	background-position: 2px -4383px
}

/* ===================== */
/* Textual Buttons */

.button.text-only {
	background: none;
	border: none;
	display: block;
	font-size: 11px;
	font-weight: normal;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left
}

.button.text-only:hover {
	background: none;
	border: none;
	text-decoration: underline
}

/* overrides */

.primary-button-set {
	display: block;
	margin-bottom: 5px
}

.secondary-button-sets {
	display: block
}

/* ===================== */
/* icons on right side */

.button.next.icon-right{ 
	background-image: url(../images/icons/next_icon-right.png);
}
.button[disabled].next.icon-right, .button.next.icon-right.disabled, span.button.next.icon-right{ 
	background-image: url(../images/icons/next_icon-right_disabled.png);
}
.button_mini.next.icon-right { 
	background-image: url(../images/icons/next_icon-right_mini.png);
}
.button_mini[disabled].next.icon-right, .button_mini.next.icon-right.disabled, span.button_mini.next.icon-right { 
	background-image: url(../images/icons/next_icon-right_disabled_mini.png);
}
a.button.next.icon-right, span.button.next.icon-right, input.button.next.icon-right{
	background-position: right center;
	background-repeat: no-repeat;
	padding: 3px 20px 3px 6px; 
}
	/* override */
	.ie7 a.button.next.icon-right, .ie7 span.button.next.icon-right {
		padding: 4px 21px 3px 6px;
	}
	.ie7 input.button.next.icon-right {
		background-position: right center;
		padding: 3px 20px 1px 6px;
	}	
	
a.button_mini.next.icon-right, span.button_mini.next.icon-right, input.button_mini.next.icon-right{
	background-position: right center;
	background-repeat: no-repeat;
	padding: 2px 16px 2px 5px;
}
	/* override */
	.ie7 a.button_mini.next.icon-right, .ie7 span.button_mini.next.icon-right {
	    padding: 2px 16px 2px 5px;
	}
	.ie7 input.button_mini.next.icon-right {
		background-position: right center;
		padding: 1px 16px 0 4px; 
	}

/* ========================= */
/* =   IE6 ICON REMOVAL    = */
/* ========================= */
.ie6 .button, .ie6 .button_mini, .ie6 .icon-right .ie6 button.button {
	background-image: none;
}
	
/* IE6 No Icons Regular */
.ie6 a.button, .ie6 span.button {
	padding-left: 8px !important; 
	padding-right: 6px !important; 
}
.ie6 input.button, .ie6 button.button{
	padding-left: 7px !important; 
	padding-right: 6px !important; 
}

/* IE6 No Icons Mini */
.ie6 a.button_mini, .ie6 span.button_mini {
    padding-left: 8px !important; 
    padding-right: 6px !important;
}
.ie6 input.button_mini, .ie6 button.button_mini{
	padding-left: 7px !important; 
	padding-right: 5px !important;
}

/* ===================== */
/* ==== Icons Only  ==== */
/* ===================== */
.button.icon-only {
	text-indent: -9999px;
}

a.button.icon-only, input.button.icon-only {
	display: block;
	width: 22px;
	height: 22px;
	padding: 0;
}

.ie6 .button.icon-only {
	text-indent: 0;
	width: inherit;
	height: inherit;
}


/* ===================== */
/* = Button containers = */
/* ===================== */

.ux-button-section {
	margin-top: 20px;
	margin-bottom: 30px;
	clear: both
}

.ux-button-container {
	float: right;
	margin:0
}

.dol-container .ux-button-container {
	margin: 0 15px
}

/* ========================= */
/* = Call-To-Action Button = */
/* ========================= */


.ux-action-button {
        border-radius: 11px;
        color: #FFF !important;
        display: block;
        height: 60px !important;
        line-height: 1.0 !important;
        overflow: hidden !important;
        position: relative !important;
        text-decoration: none;
        width:100%;
        
        /*  GRADIENT*/
        background-color: #3D6683;
        background: -moz-linear-gradient(top, #004f84 0%, #2a6893 36%, #003463 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004f84), color-stop(36%,#2a6893), color-stop(100%,#003463));
}

a.ux-action-button {
		margin: 0 !important;
		padding: 0 !important
	}

.ux-action-button, .ux-action-button:link, .ux-action-button:visited  {
        background-color: #3D6683;
        background: -moz-linear-gradient(top, #004f84 0%, #2a6893 36%, #003463 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004f84), color-stop(36%,#2a6893), color-stop(100%,#003463));
}

.ux-action-button:hover {
        color: #FFF !important;
        background-color: #A5A5A5;
        background: -moz-linear-gradient(top, #A5A5A5 0%, #787878 36%, #3C3C3C 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A5A5A5), color-stop(36%,#787878), color-stop(100%,#3C3C3C));
}

.ux-action-button:active {
        background-color: #3C3C3C;
        background: -moz-linear-gradient(top, #3C3C3C 0%, #787878 36%, #A5A5A5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3C3C3C), color-stop(36%,#787878), color-stop(100%,#A5A5A5));
}

.ux-action-button .ux-action-title {
        display: block;
        font-size: 14pt;
        font-weight: bold;
        height: 22px;
		left: 12px;  
        line-height: 22px;
		margin:0;
		overflow: hidden;
		padding:0;
		position: absolute;
        top: 12px;
		width: 100%;
        z-index: 2
}

.ux-action-button .ux-action-subtitle {
        display: block;
        font-size: 10pt;
        font-weight: bold;
        height: 15px;
	 	left: 12px;
        letter-spacing: -1px;
	 	line-height: 15px;
		margin:0;
		overflow: hidden;
		padding:0;
		position: absolute;
		top: 35px;
		width: 100%;
        z-index: 1
}

.ie7 a.ux-action-button {
		background-color: #3D6683
}
.ie7 a.ux-action-button:hover { 
		background-color: #A5A5A5
}

.ux-action-button .ux-action-icon {
		background: url("../images/action-arrow-light.png") no-repeat 0 0 transparent;
		height: 38px;
		margin:0;
		padding:0;
        position: absolute;
        right: 8px;
        top: 12px;
        width: 38px;
        z-index: 0
}

.ux-action-button:hover .ux-action-icon {
        background: url("../images/action-arrow.png") no-repeat 0 0 transparent
}