/**************
**  DOL Containers
***************/
.dol-container { 
	background-color: #FFF;
	border:1px solid #d5d5d5; 
	border-radius: 3px;
	font-weight: normal; 
	margin-bottom:10px; 
}
	
.dol-container .dol-container { 
	margin: 10px; 
}

.dol-container ul, .dol-container p, .dol-container ol { 
	margin: 0 10px 10px 10px; 
} 

div:hover.dol-container { 
	background-color: #FBFBFB; 
} 

.dol-container h3, .dol-container h4, .dol-container h5, .dol-container h6 {
	background-color:#EFEFEF;
	line-height: 1.1;
	margin-top: 0px;  
	padding: 5px; 
	text-align: center; 
}

.dol-container .button_header { 
	float: right; 
	position: relative; 
	right: -4px; 
	top: 2px; 
}

.dol-container .ux-header-plain {
	background:none;
	margin-left:5px;
	text-align:left
}

.dol-container ul.link-list {
	color:#F33;
	font-weight:700;
	padding:6px 2px 4px 4px
}

.dol-container li.link {
	background-image:url(../images/icons/arrow_right.png);
	background-position:0 .1em;
	background-repeat:no-repeat;
	list-style-type:none;
	padding:.2em .2em .2em 1.6em
}

.dol-container li.link.disabled {
	background-image:url(../images/icons/arrow_right_disabled.png);
}

.dol-container li.link.disabled a {
	color:#c4c4c4
}

.dol-container .data-table,.dol-container .key-value-table {
	margin: 0 auto 15px auto;
	width:96%
}