/*
=======================================================================================================
Side by side approach
=======================================================================================================
*/
.ie7 .input[hidden] {
display:none;
margin:0;
position:absolute
}

.ux-form-side label {
display:inline-block;
width:100%
}

.ux-form-side label.ux-date {
margin-bottom:3px
}

.ux-form-side label span {
display:inline-block;
float:left;
width:150px
}

.ux-form-side label input,.ux-form-side label select,.ux-form-side label textarea {
display:inline;
float:left;
margin:0 0 10px
}

label textarea {
margin-left:0!important;
margin-top:0!important
}

.ie6 .ux-form-side label input,.ie7 .ux-form-side label input,.ie6 .ux-form-side label select,.ie7 .ux-form-side label select,.ie6 .ux-form-side label textarea,.ie7 .ux-form-side label textarea {
display:block;
float:none;
margin-bottom:15px
}

.ie6 .ux-form-side label.ux-date input,.ie7 .ux-form-side label.ux-date input {
display:inline
}

.ux-form-side label span,
.ux-form-top label span,
.ux-form-side fieldset.radio-check-list legend,
.ux-form-top fieldset.radio-check-list legend,
.ux-form-side fieldset.jsf-radio-check-list legend,
.ux-form-top fieldset.jsf-radio-check-list legend,
.ux-form-side fieldset.radio-check-list legend,
.ux-form-top fieldset.radio-check-list legend,
.ux-form-side fieldset.multi-input legend,
.ux-form-top fieldset.multi-input legend,
.ux-form-side fieldset.ux-single-check-box legend,
.ux-form-top fieldset.ux-single-check-box legend,
.ux-form-side fieldset.multi-input legend,
.ux-form-top fieldset.multi-input legend {
color:#3D6683;
font-weight:700;
padding:2px 5px 2px 0;
white-space:normal
}

.ux-form-side abbr.required {
border:none;
font-size:inherit
}

.ie6 .ux-form-side abbr.required,.ie7 .ux-form-side abbr.required {
margin-top:-10px;
top:1px
}

.ux-form-side label img.ui-datepicker-trigger {
top:4px
}

/* JSF Radio Button Lists */
.ux-form-side fieldset.jsf-radio-check-list {
display:inline-block;
width:100%
}

.ux-form-side fieldset.jsf-radio-check-list legend {
display:block
}

.ie6 .ux-form-side fieldset.jsf-radio-check-list legend,.ie7 .ux-form-side fieldset.jsf-radio-check-list legend {
margin-left:-8px
}

.ie6 .ux-form-side fieldset.jsf-radio-check-list legend span,.ie7 .ux-form-side fieldset.jsf-radio-check-list legend span {
display:inline-block;
position:static
}

.ie6 .ux-form-side fieldset.jsf-radio-check-list label,.ie7 .ux-form-side fieldset.jsf-radio-check-list label {
padding-top:3px;
width:auto
}

.ux-form-side fieldset.jsf-radio-check-list table {
background:none;
display:inline
}

.ux-form-side fieldset.jsf-radio-check-list table,.ux-form-side fieldset.jsf-radio-check-list td,.ux-form-side fieldset.jsf-radio-check-list th {
background:none;
border:none;
width:inherit
}

.ux-form-side fieldset.jsf-radio-check-list table {
margin-bottom:1px
}

.ux-form-side fieldset.jsf-radio-check-list table tbody {
float:left
}

.ux-form-side fieldset.jsf-radio-check-list td,.ux-form-side fieldset.jsf-radio-check-list.jsf-radio-check-list th {
padding:3px 15px 3px 0
}

.ux-form-side fieldset.jsf-radio-check-list div {
clear:both
}

.ie6 .ux-form-side fieldset.jsf-radio-check-list table,.ie7 .ux-form-side fieldset.jsf-radio-check-list table {
margin-bottom:7px;
margin-left:0;
margin-top:-4px;
width:auto
}

.ux-form-side fieldset.jsf-radio-check-list td label,.ux-form-side fieldset.jsf-radio-check-list th label {
margin:0;
width:inherit
}

/*
=========================================
 Long Label Support
=========================================
*/
.ux-form-side fieldset.jsf-radio-check-list.option-label-wrap td label,.ux-form-side fieldset.jsf-radio-check-list.option-label-wrap th label {
display:inline-block;
width:90%
}

.ux-form-side fieldset.jsf-radio-check-list td input,.ux-form-side fieldset.jsf-radio-check-list th input {
float:left;
margin-left:0
}

/*
========================================================================================================================================
 Regular Checkbox / Radio Buttons 
========================================================================================================================================
*/
.ux-form-side fieldset.radio-check-list legend {
display:block
}

.ux-form-side fieldset.radio-check-list span {
display:inline-block
}

.ux-form-side fieldset.radio-check-list input {
float:left;
margin-top:2px
}

.ux-form-side fieldset.radio-check-list label {
float:left;
margin:0 7px 0 4px;
width:inherit
}

.ie6 .ux-form-side fieldset.radio-check-list input,.ie7 .ux-form-side fieldset.radio-check-list input {
margin-top:0
}

.ie6 .ux-form-side fieldset.radio-check-list label,.ie7 .ux-form-side fieldset.radio-check-list label {
margin-top:1px;
width:auto
}

.ie6 .ux-form-side fieldset.radio-check-list,.ie7 .ux-form-side fieldset.radio-check-list {
margin-bottom:7px;
margin-top:-4px;
width:auto
}

/*
=========================================
 Regular Radio / Check list override
=========================================
*/
.ux-form-side fieldset.radio-check-list div.ux-list-top span {
display:block;
width:100%
}

.ux-form-side fieldset.radio-check-list div.ux-list-top label {
display:inline;
float:none;
width:100%
}

.ux-form-side fieldset.radio-check-list div.ux-list-top input {
padding:0
}

.ie6 .ux-form-side fieldset.radio-check-list div.ux-list-top label,.ie7 .ux-form-side fieldset.radio-check-list div.ux-list-top label {
float:left;
width:90%
}

/*
=========================================
 Long Label Support
=========================================
*/
.ux-form-side fieldset.radio-check-list.option-label-wrap input {
float:left;
margin-left:0
}

.ux-form-side fieldset.radio-check-list.option-label-wrap label {
display:block;
width:90%
}

.ie6 .ux-form-side fieldset.radio-check-list.option-label-wrap label,.ie7 .ux-form-side fieldset.radio-check-list.option-label-wrap label,.ie8 .ux-form-side fieldset.radio-check-list.option-label-wrap label {
width:90%
}

/*
=========================================
 Single Check Box Overrides
=========================================
*/
.ux-form-side fieldset.ux-single-check-box legend {
display:block;
padding-bottom:3px
}

.ux-form-side fieldset.ux-single-check-box span {
display:block;
margin-bottom:2px
}

.ux-form-side fieldset.ux-single-check-box span input {
float:left;
margin-left:0
}

.ux-form-side fieldset.ux-single-check-box span label {
display:inline-block;
width:90%
}

.ie6 .ux-form-side fieldset.ux-single-check-box legend,.ie7 .ux-form-side fieldset.ux-single-check-box legend {
margin-left:-8px
}

.ie6 .ux-form-side fieldset.ux-single-check-box span input,.ie7 .ux-form-side fieldset.ux-single-check-box span input {
margin:0 3px 0 0
}

.ie6 .ux-form-side fieldset.ux-single-check-box span label,
.ie7 .ux-form-side fieldset.ux-single-check-box span label {
margin:2px 0 0
}

.ie8 .ux-form-side fieldset.ux-single-check-box span label {
margin:3px 0 0
}

/*
========================================================================================================================================
Multi-Text Box fields 
========================================================================================================================================
*/
.ux-form-side fieldset.multi-input {
display:inline-block;
width:100%
}

.ux-form-side fieldset.multi-input legend {
float:left;
width:150px
}

.ie6 .ux-form-side fieldset.multi-input legend,.ie7 .ux-form-side fieldset.multi-input legend {
	margin-left:-7px
}

.ux-form-side fieldset.multi-input div {
display:inline-block;
float:left
}

.ux-form-side fieldset.multi-input.ux-under-legend legend {
margin-bottom:8px;
width:100%
}

.ie6 .ux-form-side fieldset.multi-input.ux-under-legend legend,.ie7 .ux-form-side fieldset.multi-input.ux-under-legend legend {
margin-bottom:-3px;
margin-left:-7px!important
}

.ie6 .ux-form-side fieldset.multi-input div,.ie7 .ux-form-side fieldset.multi-input div {
left:155px;
position:relative;
top:-25px
}

.ie6 .ux-form-side fieldset.multi-input.ux-under-legend div,.ie7 .ux-form-side fieldset.multi-input.ux-under-legend div {
left:0;
top:0
}

.ux-form-side fieldset.multi-input div label {
display:block;
float:left;
width:auto
}

.ux-form-side fieldset.multi-input div span abbr.required {
display:block;
float:left;
font-size:inherit
}

.ux-form-side fieldset.multi-input div span.support-text {
display:block;
float:left;
padding:5px 5px 0
}

.ux-form-side fieldset.multi-input div span input {
display:block;
float:left
}

.ux-form-side fieldset.multi-input div input.button {
margin:-1px 0 0 10px
}

/* fixes for IE using relative+absolute positioning */
.ie6 .ux-form-side fieldset.multi-input,.ie7 .ux-form-side fieldset.multi-input {
position:relative;
vertical-align:top
}

.ie6 .ux-form-side fieldset.multi-input legend,.ie7 .ux-form-side fieldset.multi-input legend {
position:relative;
top:-5px!important
}

.ie6 .ux-form-side fieldset.multi-input legend {
margin-bottom:14px
}

.ie7 .ux-form-side fieldset.multi-input legend {
margin-bottom:10px
}

.ie6 .ux-form-side fieldset.multi-input div,.ie7 .ux-form-side fieldset.multi-input div {
position:absolute;
top:0
}

/* -- */
/*
========================================================================================================================================
 Overrides to turn a side by side input into a top-align 
========================================================================================================================================
*/
.ux-form-side label.ux-top {
display:inline-block;
margin-bottom:5px
}

.ux-form-side label.ux-top span {
display:block;
width:100%
}

.ie7 .ux-form-side label.ux-top {
margin-bottom:8px
}

.ie6 .ux-form-side label.ux-top {
margin-bottom:7px
}

.ux-form-side label.ux-top input,.ux-form-side label.ux-top select,.ux-form-side label.ux-top textarea {
display:block;
margin:3px 0 0
}

.ux-form-side label.ux-top abbr {
top:1px
}

.ux-form-side fieldset legend abbr.required {
border:none;
font-size:inherit
}

.ux-form-side label.ux-top.ux-date {
display:inline-block;
width:100%
}

.ux-form-side label.ux-top.ux-date span {
display:block
}

.ux-form-side label.ux-top.ux-date input {
display:inline-block;
float:left
}

.ux-form-side label.ux-top img.ui-datepicker-trigger {
float:left;
top:7px
}

/*
=========================================
 Multi-input overrides
=========================================
*/
.ux-form-side fieldset.multi-input.ux-top legend {
display:block;
width:100%
}

.ux-form-side fieldset.multi-input.ux-top div {
display:block;
margin-bottom:5px;
left:0;
top:0
}

.ux-form-side fieldset.multi-input.ux-top div label {
display:block;
float:left;
width:inherit
}

.ux-form-side fieldset.multi-input.ux-top div span abbr.required {
display:block;
float:left;
font-size:inherit
}

.ux-form-side fieldset.multi-input.ux-top div span.support-text {
display:block;
float:left;
padding:5px 5px 0
}

.ux-form-side fieldset.multi-input.ux-top div span input {
display:block;
float:left
}

/*
=========================================
 Single Check Box Overrides
=========================================
*/
.ux-form-side fieldset.ux-single-check-box.ux-top div {
display:inline-block;
float:none;
width:100%
}

.ux-form-side fieldset.ux-single-check-box.ux-top div label {
float:none
}

/*
=========================================
 Static Fields 
=========================================
*/
.ux-form-side span.ux-static-field {
display:inline-block;
margin-bottom:5px
}

.ux-form-side span.ux-static-label {
float:left;
font-weight:700;
margin-right:5px;
width:150px
}

.ux-form-side span.ux-static-value {
float:left;
font-weight:400
}

.ie6 .ux-form-top span.ux-static-field,.ie7 .ux-form-side span.ux-static-field {
margin-bottom:15px
}

/*
=========================================
 Static Overrides
=========================================
*/
.ux-form-side span.ux-static-field.ux-top {
display:inline-block;
width:100%
}

.ux-form-side span.ux-static-field.ux-top span.ux-static-label {
float:none;
width:100%
}

.ux-form-side span.ux-static-field.ux-top span.ux-static-value {
float:none
}

/*
=======================================================================================================
Top Align approach
=======================================================================================================
*/
.ux-form-top label {
display:block;
margin-bottom:5px
}

.ux-form-top label span {
display:block
}

.ux-form-top label input,.ux-form-top label select,.ux-form-top label textarea {
display:block;
margin:3px 0 0
}

.ux-form-top abbr.required {
border:none;
font-size:inherit
}

.ie6 .ux-form-top abbr.required,.ie7 .ux-form-top abbr.required {
margin-top:-10px;
top:1px
}

.ux-form-top label.ux-date {
display:inline-block;
width:100%
}

.ux-form-top label.ux-date input {
display:inline-block;
float:left
}

.ux-form-top label img.ui-datepicker-trigger {
float:left;
top:7px
}

/*
=======================================================================================================
JSF Form checkbox/radio button lists
=======================================================================================================
*/
.ux-form-top fieldset.jsf-radio-check-list table,.ux-form-top fieldset.jsf-radio-check-list td,.ux-form-top fieldset.jsf-radio-check-list th {
background:none;
border:none;
width:inherit
}

.ux-form-top fieldset.jsf-radio-check-list table {
margin-bottom:1px
}

.ie6 .ux-form-top fieldset.jsf-radio-check-list table,.ie7 .ux-form-top fieldset.jsf-radio-check-list table {
margin-bottom:7px;
margin-left:-3px;
margin-top:-4px;
width:auto
}

.ux-form-top fieldset.jsf-radio-check-list td,.ux-form-top fieldset.jsf-radio-check-list th {
padding:0
}

.ie6 .ux-form-top fieldset.jsf-radio-check-list td,.ie6 .ux-form-top fieldset.jsf-radio-check-list th .ie7 .ux-form-top fieldset.jsf-radio-check-list td,.ie7 .ux-form-top fieldset.jsf-radio-check-list th {
margin-left:-5px
}

.ux-form-top fieldset.jsf-radio-check-list td label,.ux-form-top fieldset.jsf-radio-check-list th label {
float:left;
margin-right:10px
}

.ux-form-top fieldset.jsf-radio-check-list.option-label-wrap td label,.ux-form-top fieldset.jsf-radio-check-list.option-label-wrap th label {
display:block;
float:left;
margin:-2px 0 3px;
width:90%
}

.ie6 .ux-form-top fieldset.jsf-radio-check-list td label,.ie6 .ux-form-top fieldset.jsf-radio-check-list th label,.ie7 .ux-form-top fieldset.jsf-radio-check-list td label,.ie7 .ux-form-top fieldset.jsf-radio-check-list th label,.ie8 .ux-form-top fieldset.jsf-radio-check-list td label,.ie8 .ux-form-top fieldset.jsf-radio-check-list th label {
margin-top:3px
}

.ux-form-top fieldset.jsf-radio-check-list td input,.ux-form-top fieldset.jsf-radio-check-list th input {
float:left;
margin-left:1px
}

.ie6 .ux-form-top fieldset.jsf-radio-check-list legend,.ie7 .ux-form-top fieldset.jsf-radio-check-list legend {
margin-left:-8px
}

.ie6 .ux-form-top fieldset.jsf-radio-check-list legend span,.ie7 .ux-form-top fieldset.jsf-radio-check-list legend span {
display:inline-block
}

.ie6 .ux-form-top fieldset.jsf-radio-check-list td,.ie6 .ux-form-top fieldset.jsf-radio-check-list th,.ie7 .ux-form-top fieldset.jsf-radio-check-list td,.ie7 .ux-form-top fieldset.jsf-radio-check-list th {
padding:0 15px 0 0
}

/*
=========================================
 Long Label Support
=========================================
*/
.ie8 .ux-form-top fieldset.jsf-radio-check-list.option-label-wrap label {
margin-top:3px
}

/*
=======================================================================================================
 Normal Checkbox/Radio Button Lists 
=======================================================================================================
*/
.ux-form-top fieldset.radio-check-list legend {
display:block;
padding-bottom:3px
}

.ux-form-top fieldset.radio-check-list span {
display:block;
margin-bottom:2px
}

.ux-form-top fieldset.radio-check-list span input {
float:left;
margin-left:0
}

.ux-form-top fieldset.radio-check-list span label {
display:inline-block
}

.ie6 .ux-form-top fieldset.radio-check-list span input,.ie7 .ux-form-top fieldset.radio-check-list span input {
margin:0 3px 0 0
}

.ie6 .ux-form-top fieldset.radio-check-list span label,.ie7 .ux-form-top fieldset.radio-check-list span label {
margin:2px 0 0
}

.ie6 .ux-form-top fieldset.radio-check-list,.ie7 .ux-form-top fieldset.radio-check-list {
margin-bottom:7px;
margin-top:-4px;
width:auto
}

.ie8 .ux-form-top fieldset.radio-check-list span label {
margin:3px 0 0
}

/*
=========================================
 Regular Radio / Check list override
=========================================
*/
.ux-form-top fieldset.radio-check-list div.ux-list-side span {
display:inline-block
}

.ux-form-top fieldset.radio-check-list div.ux-list-side span label {
padding-right:7px
}

/*
=========================================
 Long Label Support
=========================================
*/
.ux-form-top fieldset.radio-check-list.option-label-wrap span label {
display:block;
width:90%
}

/*
=========================================
 Single Check Box Overrides
=========================================
*/
.ux-form-top fieldset.ux-single-check-box legend {
display:block;
padding-bottom:3px
}

.ux-form-top fieldset.ux-single-check-box span {
display:block;
margin-bottom:2px
}

.ux-form-top fieldset.ux-single-check-box span input {
float:left;
margin-left:0
}

.ux-form-top fieldset.ux-single-check-box span label {
display:inline-block
}

.ie6 .ux-form-top fieldset.ux-single-check-box legend,.ie7 .ux-form-top fieldset.ux-single-check-box legend {
margin-left:-8px
}

.ie6 .ux-form-top fieldset.ux-single-check-box span input,.ie7 .ux-form-top fieldset.ux-single-check-box span input {
margin:0 3px 0 0
}

.ie6 .ux-form-top fieldset.ux-single-check-box span label,.ie7 .ux-form-top fieldset.ux-single-check-box span label {
margin:2px 0 0
}

.ie8 .ux-form-top fieldset.ux-single-check-box span label {
margin:3px 0 0
}

/*
=========================================
 Long Label Support
=========================================
*/
.ux-form-top fieldset.ux-single-check-box span label {
margin-top:-2px;
width:90%
}

.ie6 .ux-form-top fieldset.ux-single-check-box legend,.ie7 .ux-form-top fieldset.ux-single-check-box legend {
margin-left:-5px
}

.ie6 .ux-form-top fieldset.ux-single-check-box span label,.ie7 .ux-form-top fieldset.ux-single-check-box span label {
margin-top:1px
}

.ie8 .ux-form-top fieldset.ux-single-check-box span label {
margin-top:2px
}

/*
=======================================================================================================
 Multi-Text Box fields.
=======================================================================================================
*/
.ux-form-top fieldset.multi-input {
margin-bottom:5px
}

.ie7 .ux-form-top fieldset.multi-input legend {
margin-left:-7px
}

.ux-form-top fieldset.multi-input div {
display:block;
margin-bottom:5px
}

.ie6 .ux-form-top fieldset.multi-input,.ie7 .ux-form-top fieldset.multi-input {
margin-bottom:7px
}

.ux-form-top fieldset.multi-input div label {
display:block;
float:left;
width:inherit
}

.ux-form-top fieldset.multi-input div span abbr.required {
display:block;
float:left;
font-size:inherit
}

.ux-form-top fieldset.multi-input div span.support-text {
display:block;
float:left;
padding:5px 5px 0
}

.ux-form-top fieldset.multi-input div span input {
display:block;
float:left
}

.ux-form-top fieldset.multi-input input.button {
margin:3px 0 0 5px
}

/* Overrides to turn a top align input into a side by side */
.ux-form-top label.ux-side {
display:inline-block;
width:100%
}

.ux-form-top label.ux-side span {
display:inline-block;
width:150px
}

.ux-form-top label.ux-side input,.ux-form-top label.ux-side select {
display:inline;
margin:3px 0 5px
}

.ux-form-top label.ux-side abbr {
border:none;
top:1px
}

.ux-form-top label.ux-side.ux-date span {
float:left
}

.ux-form-top label.ux-side.ux-date img.ui-datepicker-trigger {
top:7px
}

/* Multi-text box override */
.ux-form-top fieldset.multi-input.ux-side {
display:inline-block;
margin-bottom:0;
width:100%
}

.ux-form-top fieldset.multi-input.ux-side legend {
float:left;
margin-bottom:0;
width:150px
}

.ux-form-top fieldset.multi-input.ux-side div {
display:inline-block;
float:left;
margin-bottom:2px;
margin-left:3px;
margin-top:-3px
}

.ux-form-top fieldset.multi-input.ux-side div.multi-input label {
display:block;
float:left;
width:inherit
}

.ux-form-top fieldset.multi-input.ux-side div.multi-input span abbr.required {
display:block;
float:left;
font-size:inherit
}

.ux-form-top fieldset.multi-input.ux-side div.multi-input span.support-text {
display:block;
float:left;
padding:5px 5px 0
}

.ux-form-top fieldset.multi-input.ux-side div.multi-input span input {
display:block;
float:left
}

/* fixes for IE using relative+absolute positioning */
.ie6 .ux-form-top fieldset.multi-input.ux-side,.ie7 .ux-form-top fieldset.multi-input.ux-side {
position:relative;
vertical-align:top
}

.ie6 .ux-form-top fieldset.multi-input.ux-side legend,.ie7 .ux-form-top fieldset.multi-input.ux-side legend {
position:relative;
top:-5px!important;
margin-left:-8px
}

.ie6 .ux-form-top fieldset.multi-input.ux-side legend {
margin-bottom:14px
}

.ie7 .ux-form-top fieldset.multi-input.ux-side legend {
margin-bottom:10px
}

.ie6 .ux-form-top fieldset.multi-input.ux-side div,.ie7 .ux-form-top fieldset.multi-input.ux-side div {
margin:0 3px 1px;
position:absolute;
top:-3px
}

.ie6 .ux-form-top fieldset.multi-input.ux-side div,.ie7 .ux-form-top fieldset.multi-input.ux-side div {
left:155px
}

/* -- */
/* Static Fields */
.ux-form-top span.ux-static-field {
display:block;
margin-bottom:5px
}

.ux-form-top span.ux-static-label {
display:block;
font-weight:700
}

.ux-form-top span.ux-static-value {
font-weight:400
}

.ie6 .ux-form-top span.ux-static-field,.ie7 .ux-form-top span.ux-static-field {
margin-bottom:7px
}

/* Static overrides */
.ux-form-top label.ux-static-field {
display:inline-block;
width:100%
}

.ux-form-top label.ux-static-field.ux-side span.ux-static-label {
float:left;
font-weight:700;
width:150px
}

.ux-form-top label.ux-static-field.ux-side span.ux-static-output {
float:left
}

/*
=============================================================================
=== Static Output
=============================================================================
*/
/* Static Output Side */
.ux-static-output-side span.ux-static-output {
display:inline-block;
padding-left:10px;
width:100%
}

.ux-static-output-side span.ux-static-output span.ux-static-label {
float:left;
font-weight:700;
width:150px
}

.ux-static-output-side span.ux-static-output span.ux-static-value {
float:left
}

.ux-static-output-side span.ux-static-output.ux-top span.ux-static-label {
float:left;
font-weight:700;
width:100%
}

.ux-static-output-side span.ux-static-output.ux-top span.ux-static-value {
float:none
}

/* Static Output Top */
.ux-static-output-top span.ux-static-output {
display:inline-block;
padding-left:10px;
width:100%
}

.ux-static-output-top span.ux-static-output span.ux-static-label {
float:left;
font-weight:700;
width:100%
}

.ux-static-output-top span.ux-static-output span.ux-static-value {
float:left
}

.ux-static-output-top span.ux-static-output.ux-side span.ux-static-label {
float:left;
font-weight:700;
width:150px
}

.ux-static-output-top span.ux-static-output.ux-side span.ux-static-value {
float:none
}




/*
=============================================================================
=== Selection Component
=============================================================================
*/


div.ux-selection-component{
display:block;
position:relative;
vertical-align:top;
width:100%
}
.ux-selection-component label{
display:block;
width:100%
}
.ux-form-side .ux-selection-component label span{
width:auto
}

.ux-selection-component-left,.ux-selection-component-right,.ux-selection-component-middle {
display:inline-block
}

.ux-selection-component-middle {
margin-top:50px
}

.ux-selection-component-left select,.ux-selection-component-right select{
width:100%
}
.ux-selection-component-middle .button-container .button,.ux-selection-component-middle .button-container .button_mini,.ux-selection-component-middle .button-container .icon-right{
display:inline-block;
float:none;
padding:3px 0px 3px 0px !important
}

.ux-selection-component-middle .button-container{
display:block;
margin:5px 0;
text-align:center;
width:100%
}

/*ie7 fix disappearing select*/
.ie7 .container_12 .ux-selection-component .grid_1 select{width:60px}
.ie7 .container_12 .ux-selection-component .grid_2 select{width:140px}
.ie7 .container_12 .ux-selection-component .grid_4 select{width:300px}
.ie7 .container_12 .ux-selection-component .grid_5 select{width:380px}
.ie7 .container_12 .ux-selection-component .grid_7 select{width:540px}
.ie7 .container_12 .ux-selection-component .grid_8 select{width:620px}
.ie7 .container_12 .ux-selection-component .grid_10 select{width:780px}
.ie7 .container_12 .ux-selection-component .grid_11 select{width:860px}
.ie7 .container_16 .ux-selection-component .grid_1 select{width:40px}
.ie7 .container_16 .ux-selection-component .grid_2 select{width:100px}
.ie7 .container_16 .ux-selection-component .grid_3 select{width:160px}
.ie7 .container_16 .ux-selection-component .grid_5 select{width:280px}
.ie7 .container_16 .ux-selection-component .grid_6 select{width:340px}
.ie7 .container_16 .ux-selection-component .grid_7 select{width:400px}
.ie7 .container_16 .ux-selection-component .grid_9 select{width:520px}
.ie7 .container_16 .ux-selection-component .grid_10 select{width:580px}
.ie7 .container_16 .ux-selection-component .grid_11 select{width:640px}
.ie7 .container_16 .ux-selection-component .grid_13 select{width:760px}
.ie7 .container_16 .ux-selection-component .grid_14 select{width:820px}
.ie7 .container_16 .ux-selection-component .grid_15 select{width:880px}
.ie7 .container_12 .ux-selection-component .grid_12,.ie7 .container_16 .ux-selection-component .grid_16{width:940px}

/*
=============================================================================
=== Misu Styles
=============================================================================
*/
.dol-container fieldset, .ux-container fieldset {
	margin-left:10px
}

.dol-container p fieldset, .ux-container p fieldset, .ux-content-wrapper fieldset {
	margin-left:0
}

.ux-form-top div.ux-form-sub-quest,.ux-form-side div.ux-form-sub-quest {
	margin:5px 0 15px 25px;
	padding: 0 0 0 10px;
}

.ie6 .ux-form-top div.ux-form-sub-quest,
.ie7 .ux-form-top div.ux-form-sub-quest,
.ie6 .ux-form-side div.ux-form-sub-quest,
.ie7 .ux-form-side div.ux-form-sub-quest,
.ie6 .ux-form-top fieldset,
.ie7 .ux-form-top fieldset,
.ie6 .ux-form-top fieldset legend span,
.ie7 .ux-form-top fieldset legend span,
.ie6 .ux-form-side fieldset,
.ie7 .ux-form-side fieldset,
.ie6 .ux-form-side fieldset legend span,
.ie7 .ux-form-side fieldset legend span {
	position:relative;
	zoom:1
}
