#site-wide-search {
background:none repeat scroll 0 0 #FFF;
border-radius: 7px;
display: block;
height: 20px;
left: 768px;
overflow: hidden;
position: absolute;
top: 31px;
width: 181px;
z-index: 250
}

#search-box-form {
height:20px;
position:relative;
width:181px
}

#search-box-form input.site-wide-search-text-box {
border: none;
display:block;
margin-top:-9px;
padding:0 0 0 10px
}
#search-box-form input.site-wide-search-text-box:focus {
box-shadow: none; /*override for browser defaults*/	
}

input[type="text"].site-wide-search-text-box:focus,input[type='password'].site-wide-search-text-box:focus {
background-color:#FFF;
border: none
}

/*overrides*/
.chrome #search-box-form input.site-wide-search-text-box,.safari #search-box-form input.site-wide-search-text-box {
margin-left: 6px;
padding-left: 5px
}

#search-box-form .site-wide-search-button {
background:url(../images/icons/magnifier_disabled.png) no-repeat scroll 4px 3px transparent;
border:medium none;
height:25px;
line-height:999px;
margin:-21px 0 0 150px;
overflow:hidden;
padding:0;
width:30px
}

.ie6 #search-box-form .site-wide-search-button,.ie7 #search-box-form .site-wide-search-button {
margin-left:155px;
margin-top:-22px;
text-indent:-9999px
}

.ie6 #search-box-form input.site-wide-search-text-box {
border:0;
margin-top:-10px
}

.ie7 #search-box-form input.site-wide-search-text-box {
margin-top:-10px
}