html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th {
background:transparent;
border:0;
font-size:100%;
margin:0;
outline:0;
padding:0;
vertical-align:baseline
}

ol,ul {
list-style:none
}

blockquote,q {
quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
content:'';
content:none
}

:focus {
outline:1px dotted #fc6;
overflow:visible
}

:hover,:active {
outline:none
}

ins {
text-decoration:none
}

del {
text-decoration:line-through
}

table {
border-collapse:collapse;
border-spacing:1px
}

table td table {
border:none;
margin:0;
padding:0
}

hr {
display:none /* markup should not be used for style purposes - use headings to divide content */
}

html {
overflow:0
}

#dol-content-main {
line-height:1.4
}

a,a:link {
color:#446880
}

a:visited,a:hover {
color:#5683A2
}

strong {
font-weight:700;
padding:.2em
}

samp {
color:#b5b5b5;
font-style:italic;
letter-spacing:.1em;
padding-left:5px
}

pre {
font-style:normal
}

ol {
list-style-type:decimal;
padding-left:20px
}

.ie7 ol {
padding-left:25px
}

ul {
list-style-type:disc;
padding-left:20px
}

ul li {
margin:0 0 5px
}

ul ul {
list-style-type:circle;
margin-bottom:0
}

ul ul ul {
list-style-type:square;
margin-bottom:0
}

ul li {
vertical-align:middle
}

ul li a,ul li a span {
vertical-align:top
}

dl {
margin:0 20px 20px
}

dt {
font-weight:700
}

dd {
margin:0 0 10px 9px;
font-style:italic
}

p {
margin-bottom:10px
}

/* default bottom margins on all elements */
ul {
margin-bottom:20px
}

sup {
font-size:80%;
margin:0 5px 0 0;
position:relative;
top:-5px
}

img {
margin:10px
}

address {
margin:0 0 10px 10px
}

code {
	background-clip:padding-box;
	background-color:#F9F9F9;
	border-radius:3px;
	border:1px solid #CCC;
	color:#52595D;
	display:inline-block;
	font-weight:700;
	font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	padding:0 3px
}

/*input form fields*/
input,select,textarea {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:2px 5px 2px 0;
	padding:3px 2px
}

input[type='text'],input[type='password'],input[type='file'],select,textarea {
border: 1px solid #A5A5A5;
}

input[disabled='true'],input[disabled='disabled'],input[disabled],input.disabled {
background-color:#EFEEE3;
cursor:not-allowed
}

select[disabled],select.disabled, option[disabled],option.disabled  {
cursor:not-allowed
}

input[type="text"]:focus,input[type='password']:focus,.inputfocus,textarea:focus,.textareafocus {
background-color:#fff;
border-color:#94B3C8;
box-shadow:0 0 3px rgba(61,102,131,.75);
outline:0
}

textarea {
border-color:#A5A5A5;
border-style:solid;
border-width:1px;
margin:1% 1% 1% 2%;
padding:5px;
resize:none;
width:94%
}

abbr,acronym,dfn {
border-bottom:1px dotted #446880;
cursor:pointer;
text-decoration:none
}

::-moz-selection { background: #777; color: #fff; text-shadow: none }
::selection { background: #777; color: #fff; text-shadow: none }

/* HTML5 Shiv Styling */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video { 
    display: block;
}