#ux-ie-msg {
	display: none;
}
.ie6 #ux-ie-msg, .ie7 #ux-ie-msg, .ie8 #ux-ie-msg {
	display: block;
}

#dol-header-nys-labor {
	height:72px;
	background: url(/ux/guides/assets/ux-logo-guide-white.png) no-repeat  transparent; 
	background-position: 190px 16px
}

#dol-header-application {
	display:none !important; /* hide because background image */
}

#mega-menu #menu li.top-level {
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 8px !important;
}

.ie7 #mega-menu #menu li.top-level, .ie7 #mega-menu #menu li.top-level:hover {
	margin-right: 9px;
	margin-left: 9px;
	padding-top: 6px !important;
	padding-bottom: 10px;
}

#mega-menu #menu li.top-level a {
	font-size: 13px
}

.ux-blockquote {
	font-size: 24px;
	display: block;
	margin: 50px 100px;
}

.cite {
	font-size: 16px;
	float: right;
	display: inline-block;
	margin-top: 25px;
}

#page-cite {
	margin: 100px 0 0 0;
}