/* CSS crunched with Crunch - http://crunchapp.net/ */
.swatch{display:block;width:30px;height:20px;margin:2px 8px 2px;border-radius:4px;}
.table{width:80%;}
.swatch-col{width:22%!important;}
.hex-col{width:72px;font-family:monospace;}
.hex-width{width:28%!important;}
p{font-family:myriad-pro-1,myriad-pro-2;}
a{color:#446880 !important;}
a:hover{color:#5683a2 !important;}
h2{color:#3399cc !important;}
h3{color:#ff33ff !important;}
h4{color:#ff0099 !important;}
h5{color:#6600cc !important;}
.linkNormal{background-color:#446880;}
.linkHover{background-color:#5683a2;}
.linkFooterNormal{background-color:#5b717f;}
.linkFooterHover{background-color:#2f4c5f;}
.linkMessageNormal{background-color:#0055b5;}
.linkMessageHover{background-color:#5683a2;}
.linkHeaderNormal{background-color:#ffffff;}
.linkHeaderHover{background-color:#5683a2;}
tr td span #swatch{display:block;width:30px;height:20px;margin:2px 8px 2px;border-radius:4px;width:80%;width:22%!important;width:72px;font-family:monospace;width:28%!important;}
