/*
	Additional fonts
*/

.ux-placeholder {
color:#bbb
}

/* Context Help */
.js .ux-contexthelp {
display:none;
font-size:10px;
font-weight:400
}

.ux-contexthelp-img {
margin:0;
padding:0 0 0 5px;
position:relative;
top:3px
}

.required {
	color:#DD0B00!important;
	display:inline-block;
	font-size:12px;
	left:0;
	position:relative;
	top:-2px
}

abbr.required {
border-bottom:none
}