/* ========================= */
/* = Horizontal Navigation = */
/* ========================= */
#navigation-global-internal, .internal #navigation-global-external {
display:none
}

.internal #navigation-global-internal {
display:block
}

#dol-header-navigation {
height:29px;
line-height:15px;
position:absolute;
top:97px
}

#dol-header-navigation ul {
list-style:none;
margin:0;
padding:0
}

#dol-header-navigation ul li {
display:block;
float:left;
height:24px;
list-style:none;
margin:0;
padding:0 2px 2px
}

#dol-header-navigation ul li a {
border-radius:4px;
color:#FFF;
display:block;
font-size:15px;
padding:8px 12px 8px 9px;
text-decoration:none
}

#dol-header-navigation ul li a:hover {
background:#6E8B9B
}

#dol-header-navigation ul li a.selected {
background:#44687E
}

/* =============== */
/* = BREADCRUMBS = */
/* =============== */
.breadcrumb-internal, .internal .breadcrumb-external {
display:none
}

.internal .breadcrumb-internal {
display:block
}

.dol-header-breadcrumbs {
color:#DEE7ED;
font-size:10px;
list-style:none;
position:absolute;
margin:0 0 0 -15px;
top:128px
}

.dol-header-breadcrumbs li {
background:url(../images/background-breadcrumb.png) no-repeat;
float:left;
padding:4px 10px 5px 18px
}

.ie6 .dol-header-breadcrumbs li {
background:url(../images/background-breadcrumb-ie6.png) no-repeat;
padding-top:4px
}

.dol-header-breadcrumbs li.home {
background-image:none
}

.dol-header-breadcrumbs span {
display:inline-block
}

.dol-header-breadcrumbs li a {
color:#DEE7ED;
float:left;
text-decoration:none
}

.dol-header-breadcrumbs li a:visited {
color:#DEE7ED
}

.dol-header-breadcrumbs li a:hover {
text-decoration:underline
}

/* ====================== */
/* = CONTENT NAVIGATION = */
/* ====================== */
#dol-content-navigation {
overflow:hidden
}

#dol-content-navigation #dol-content-navigation-inner {
margin:0 0 0 2px
}

#dol-content-navigation #dol-content-navigation-inner .column-container {
margin:0 0 20px
}

#dol-content-navigation #navigation-vertical ul {
list-style:none;
margin:0;
padding:0
}

#dol-content-navigation #navigation-vertical ul li {
border-bottom:1px solid #E5E5E5;
display:block;
list-style:none;
margin:0;
padding:0;
width:201px
}

#dol-content-navigation #navigation-vertical ul li a {
background:#EFEFEF;
color:#3d6683;
display:block;
font-size:13px;
font-weight:700;
padding:8px 8px 8px 22px;
text-decoration:none;
text-shadow:0 1px 0 #FFF
}

.ie6 #dol-content-navigation #navigation-vertical ul li a,.ie7 #dol-content-navigation #navigation-vertical ul li a {
display:inline-block
}

.ie6 #dol-content-navigation #navigation-vertical ul li a,.ie7 #dol-content-navigation #navigation-vertical ul li a {
display:block
}

#dol-content-navigation #navigation-vertical ul li a:hover {
background-color:#E3E3E3
}

#dol-content-navigation #navigation-vertical ul li a.selected {
background:#FFF url(../images/background-navigation.gif) no-repeat 0 center!important;
width:186px
}

/*Level 2*/
#dol-content-navigation #navigation-vertical ul li ul {
background:#FFF;
margin:0
}

#dol-content-navigation #navigation-vertical ul li ul li {
border-bottom:none;
width:201px
}

#dol-content-navigation #navigation-vertical ul li ul li a {
background:#F7F7F7;
border-bottom:1px solid #E5E5E5;
display:block;
font-size:13px;
font-weight:400;
padding:6px 8px 6px 20px
}

#dol-content-navigation #navigation-vertical ul li ul li a:hover {
background-color:#E3E3E3
}

#dol-content-navigation #navigation-vertical ul li ul li a.selected {
background:#FFF url(../images/background-navigation.gif) no-repeat 0 6px!important;
color:#52595D!important;
text-decoration:none;
width:186px
}

/*Level 3*/
#dol-content-navigation #navigation-vertical ul li ul li ul li {
border-bottom:1px solid #F0F0F0
}

#dol-content-navigation #navigation-vertical ul li ul li ul li.last-child {
border-bottom:none
}

#dol-content-navigation #navigation-vertical ul li ul li ul li a {
background:#FFF url(../images/background-navigation-third.png) repeat-x top;
border:none;
color:#878787;
font-size:11px;
font-weight:400;
padding:6px 8px 6px 20px
}

#dol-content-navigation #navigation-vertical ul li ul li ul li a:hover {
background-color:#E3E3E3;
background-image:none
}

#dol-content-navigation #navigation-vertical ul li ul li ul li a.selected {
background:#FFF url(../images/background-navigation-third-active.png) no-repeat top left!important;
color:#3D6683!important;
text-decoration:none;
width:186px
}

/*Expandable*/
#dol-content-navigation #navigation-vertical a.contracted,#dol-content-navigation #navigation-vertical a.contracted:hover {
background-image:url(../images/background-navigation-expandable-right.gif);
background-position:200px center;
background-repeat:no-repeat
}

#dol-content-navigation #navigation-vertical ul li ul li a.contracted,#dol-content-navigation #navigation-vertical ul li ul li a.contracted:hover {
background-position:200px 6px
}

#dol-content-navigation #navigation-vertical a.expanded,#dol-content-navigation #navigation-vertical a.expanded:hover {
background-image:url(../images/background-navigation-expandable-down.gif);
background-position:178px 10px;
background-repeat:no-repeat;
margin:0
}

#navigation-vertical {
border:#ececec 2px solid;
border-bottom:none;
line-height:1.2
}

#dol-content-navigation #navigation-vertical ul li {
width:/*just remove... grid will establish*/
100%!important
}

#navigation-vertical ul li a {
padding:5px 16px!important
}

#dol-content-navigation #navigation-vertical a.expanded,#dol-content-navigation #navigation-vertical a.expanded:hover {
background-position:194px 9px
}

a.expandable, .js #navigation-vertical a.expandable + ul {
display:none
}

.js #navigation-vertical a.expandable.expanded + ul {
display:block
}

/* reset by override for dol-container lists in side nav*/
#dol-content-navigation #navigation-vertical .dol-container ul,#dol-content-navigation #navigation-vertical .dol-container ul li,#dol-content-navigation #navigation-vertical .dol-container ul li a {
background:none;
border:none;
font-weight:400;
line-height:1;
margin:0;
padding:0
}

#dol-content-navigation #navigation-vertical .dol-container ul {
margin: 0 2px 10px 25px;
padding-left:0
}

#dol-content-navigation #navigation-vertical .dol-container ul li {
display:list-item;
list-style:disc;
margin-bottom:5px;
margin-left:0
}

#dol-content-navigation #navigation-vertical .dol-container ul li a {
display:inline-block;
padding:0!important
}

#dol-content-navigation #navigation-vertical .dol-container ul li a:link {
color:#446880
}

#dol-content-navigation #navigation-vertical .dol-container ul li a:visited,#dol-content-navigation #navigation-vertical .dol-container ul li a:hover {
color:#5683A2
}

#dol-content-navigation #navigation-vertical .dol-container ul li a span {
word-wrap:break-word
}