.ux-flex-grid .ux-flex-grid-25,.ux-flex-grid .ux-flex-grid-50,.ux-flex-grid .ux-flex-grid-75,.ux-flex-grid .ux-flex-grid-100 {
clear:right;
float:left
}

.ux-flex-grid-25 {
width:25%
}

.ux-flex-grid-50 {
width:50%
}

.ux-flex-grid-75 {
width:75%
}

.ux-flex-grid-100 {
width:100%
}

.ux-flex-grid-row {
clear:both
}

/* overwriting styles that overwrites flex grid within form fieldsets */
.ie7 div.ux-flex-grid-25,.ie7 div.ux-flex-grid-50,.ie7 div.ux-flex-grid-75,.ie7 div.ux-flex-grid-100,.ie6 div.ux-flex-grid-25,.ie6 div.ux-flex-grid-50,.ie6 div.ux-flex-grid-75,.ie6 div.ux-flex-grid-100 {
bottom:auto!important;
float:left!important;
left:auto!important;
position:static!important;
right:auto!important;
top:auto!important
}

/* ============================= */ 