/**************
**  Link Icons
***************/
.icon-link {
display:inline-block;
text-decoration:none
}

.icon-link-text {
text-decoration:underline
}

.icon-link-span {
display:inline;
text-decoration:none
}

.ie7 .icon-link-span {
width:auto
}

.icon-link-span-icons {
margin:0 3px -2px 0;
padding-left:3px;
text-align:right;
text-decoration:none
}

#global-footer-menu .icon-link-span-icons {
margin-top:-2px;
padding-top:0
}