html { 
	font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; 
	/* HTML5 Boilerplate: prevent scroll bar jumping, and mobile browsers from adjusting font size */
}

body {
background:#EDF2F5 url(../images/background-header.jpg) repeat-x;
color:#4B4B4B;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
line-height:1;
margin:0
}

body.internal {
background:#EDF2F5 url(../images/background-header-internal.jpg) repeat-x 0 0
}

body.ie6 {
height:100%;
position:relative
}

#page-wrap {
background:#FFF;
border:2px solid #ECECEC;
border-top:none;
line-height:1.6;
margin:0 auto;
padding-top:3px;
padding:0 0 20px;
width:976px
}

body.ie6 #page-wrap {
top:-10px
}

/* Header */
#dol-header {
background:#671927 url(../images/background-dol-header.jpg) repeat-x;
height:104px;
margin-bottom: 1px;
position:relative;
z-index:500
}
body.internal #dol-header {
background:#416275 url(../images/background-dol-header-internal.jpg) repeat-x
}

#dol-header-nys-labor a {
background:url(../images/background-header-logo.jpg) 0 -2px no-repeat;
display:block;
float:left;
height:75px;
left:-38px;
position:relative;
top:0;
width:200px
}

body.ie6 #dol-header-nys-labor a {
top:-2px
}

body.internal #dol-header-nys-labor a {
background:url(../images/background-header-logo-internal.jpg) no-repeat
}

#dol-header span#dol-header-application {
color:#FFF;
display:block;
font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
/* TODO: Better font stack for header */
font-size:32px;
font-weight:700;
margin:40px 0 0 150px;
text-shadow:1px 2px 1px #000
}

#dol-header-user {
color:#FFF;
position:absolute;
right:10px;
top:15px
}

#dol-header-user a {
color:#FFF;
font-size:10px;
text-decoration:none
}

#dol-header-user a:hover {
color:#c9e0ec
}

/* Governor Banner */
#gov-banner-outer {
background-color: #003463;
height:28px;
position:relative;
width:100%
}

#gov-banner-outer #gov-banner-inner {
height:28px;
margin:auto;
position:relative;
width:960px
}

/*override*/
.ie6 #gov-banner-outer #gov-banner-inner,.ie7 #gov-banner-outer #gov-banner-inner,.ie8 #gov-banner-outer #gov-banner-inner {
text-align:center
}

#gov-banner-outer #nys-image {
float:left;
left:-7px;
margin:0;
position:relative
}

#gov-banner-outer #nys-agency-listing {
float:left;
margin:0
}

#gov-banner-outer #searchgraphic {
left:6px;
margin:0;
position:relative
}

/* Searchbox */
#sw_searchbox {
margin:0;
position:relative;
top:12px!important
}

#sw_searchbox p {
margin:-5px 0 0;
padding:0
}


#dol-header span#dol-header-application {
font-size:26px;
margin:25px 0 0 188px
}

#dol-header-user {
top:10px
}

#header-secondary-text li {
color:#efefef;
float:right;
font-size:9px;
list-style:none
}

#header-secondary-text li a {
color:#efefef;
padding:0 5px 0 7px
}

.internal #dol-header-user,.internal #dol-header-user a {
color:#FFF
}

/* Breadcrumb */
.dol-breadcrumbs {
color:#888;
font-size:9px;
line-height:1.2;
margin:0 0 7px;
padding:0;
vertical-align:top
}

.dol-breadcrumbs li {
color:#696969;
float:left;
list-style:none;
padding:0
}

.dol-breadcrumbs li a {
background:url(../images/breadcrumb-icon.gif) no-repeat scroll right 2px transparent;
color:#696969;
margin-right:3px;
padding-right:8px
}

.dol-breadcrumbs li a:hover {
color:#787878;
text-decoration:underline
}

#page-info h2 {
clear:both;
margin:0
}

#content-navigation {
background:#BBB;
height:100px
}

#content-main {
height:400px
}

/* Standard Footer */
#dol-footer {
background:none;
clear:both;
color:#5B717F;
font-size:11px;
left:0;
margin:auto;
position:relative;
width:960px;
z-index:1
}

#dol-footer-inner {
padding:0;
margin-bottom:10px;
text-align:right
}

#dol-footer-wrapper {
display:inline;
float:right;
margin-right:-20px
}

#dol-footer a {
color:#5B717F;
text-decoration:none
}

#dol-footer a:hover {
color:#2F4C5F;
text-decoration:underline
}

#dol-footer {
margin-top:15px
}

#dol-footer ul {
margin:0 0 5px;
padding-left:15px;
width:960px
}

#dol-footer ul#global-footer-menu {
display:inline
}

#dol-footer ul li {
border-right:1px solid #7794A8;
display:inline-block;
float:left;
list-style:none;
margin-bottom:20px;
padding:0 8px 0 6px
}

#dol-footer ul li:last-child,.ie6 #dol-footer ul li.last-child,.ie7 #dol-footer ul li.last-child {
border-right:none;
margin-right:0
}

#dol-footer a {
display:inline-block
}

/* Skip Navigation */
#dol-skip-navigation a,#dol-skip-navigation a:hover,#dol-skip-navigation a:visited {
color:#FFF;
height:1px;
left:0;
overflow:hidden;
position:absolute;
top:-500px;
width:1px
}

#dol-skip-navigation a:active,#dol-skip-navigation a:focus {
background:#000;
background:rgba(0,0,0,.5);
border-color:rgba(190,190,190,.5);
border-radius:7px;
border:2px solid #9F9F9F;
color:#FFF;
height:auto;
margin:4px;
padding:4px;
top:0;
width:auto;
z-index:50
}

/* Google Translate Fix */
.translated-ltr body {
background-position:0 40px
}

/* Auto Clearing of floats */
.ux-button-section:after,.group:after,.dol-container:after,.button-header:after,p:after,.ux-flex-grid div:after,.ux-content-wrapper:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden
}

.ie6 .group,.ie6 .dol-container,.ie6 .button-header,.ie6 .ux-button-section,.ie6 p,.ie6 .ux-flex-grid div,.ie6 .ux-content-wrapper div {
height:1%
}

.ie6 .dol-container h3,.ie6 .dol-container h4,.ie6 .dol-container h5,.ie6 .dol-container h6 {
height:100%
}

.ie7 .group,.ie7 .dol-container,.ie7 .button-header,.ie7 .ux-button-section,.ie7 p,ie7 .ux-flex-grid div,.ie7 .ux-content-wrapper div {
min-height:1px
}