/* Breadcrumb
--------------------------------- */

#ux-breadcrumbs {
color:#888;
font-size:9px;
line-height:1.2;
margin: 3px 0 7px 0;
padding:0;
vertical-align:top
}

#ux-breadcrumbs ul {
	margin-bottom: 10px;
}

#ux-breadcrumbs li {
color:#696969;
float:left;
list-style:none;
padding:0
}

#ux-breadcrumbs li a {
background:url(../images/breadcrumb-icon.gif) no-repeat scroll right 2px transparent;
color:#696969;
margin-right:3px;
padding-right:8px
}

#ux-breadcrumbs li a:hover {
color:#6491B0;
text-decoration:underline
}

/* DOL Container
--------------------------------- */

/****************************

	DEPRICATEDING dol-container for ux-container

	Remove in template v.0.8.0 | v.1.0

****************************/

.ux-container,
.dol-container { 
	background-color: #FFF;
	border:1px solid #d5d5d5; 
	border-radius: 3px;
	font-weight: normal; 
	margin-bottom:10px; 
}

.ux-container .ux-container, 	
.dol-container .dol-container { 
	margin: 10px; 
}

.ux-container ul, .ux-container p, .ux-container ol, 
.dol-container ul, .dol-container p, .dol-container ol { 
	margin: 0 10px 10px 10px; 
} 

.ux-container ul ul, .ux-container ul ul ul,
.dol-container ul ul, .dol-container ul ul ul {
	margin-bottom: 0;
}

div:hover.ux-container,
div:hover.dol-container { 
	background-color: #FBFBFB; 
} 

.ux-container h3, .ux-container h4, .ux-container h5, .ux-container h6,
.dol-container h3, .dol-container h4, .dol-container h5, .dol-container h6 {
	background-color:#EFEFEF;
	line-height: 1.1;
	margin-top: 0px;  
	padding: 5px; 
	text-align: center; 
}

.ux-container .button_header, 
.dol-container .button_header { 
	float: right; 
	position: relative; 
	right: -4px; 
	top: 2px; 
}

.ux-container .ux-header-plain,
.dol-container .ux-header-plain {
	background:none;
	margin-left:5px;
	text-align:left
}

.ux-container ul.link-list,
.dol-container ul.link-list {
	color:#F33;
	font-weight:700;
	padding:6px 2px 4px 4px
}

.ux-container li.link,
.dol-container li.link {
	background-image:url(../images/icons/arrow_right.png);
	background-position:0 .1em;
	background-repeat:no-repeat;
	list-style-type:none;
	padding:.2em .2em .2em 1.6em
}

.ux-container li.link-list.disabled,
.dol-container li.link.disabled {
	background-image:url(../images/icons/arrow_right_disabled.png);
}

.ux-container li.link.disabled a,
.dol-container li.link.disabled a {
	color:#c4c4c4
}

.ux-container .data-table, .ux-container .key-value-table,
.dol-container .data-table,.dol-container .key-value-table {
	margin: 0 auto 15px auto;
	width:96%
}

/* Messages
--------------------------------- */

.ux-msg {
	box-shadow:0 0 2px rgba(0,0,0,0.10)
}

.ux-msg,.ux-inline-msg {
	background:#E5ECF9 url(../images/icons/information.png) no-repeat 8px 7px;
	border:#AAC6E8 1px solid;
	border-radius:4px;
	color:#0055B5;
	margin:10px 0;
	padding:6px 6px 6px 30px
}

.dol-container .ux-msg {
margin:10px
}

.ux-msg a {
color:#0055B5
}

.ux-msg ul {
list-style:none;
margin:0 0 -5px;
padding:0 0 0 5px
}

.ux-msg ul li {
font-weight:700;
margin:0 0 4px
}

.ux-msg.error {
background-color:#F9E5E6;
background-image:url(../images/icons/exclamation.png);
border-color:#E8AAAD;
color:#B50007
}

.ux-msg.error a {
color:#B50007
}

.ux-msg.success {
background-color:#E9F9E5;
background-image:url(../images/icons/tick.png);
border-color:#B4E8AA;
color:#1C8400
}

.ux-msg.success a {
color:#1C8400
}

.ux-msg.system {
background-color:#FCF3DE;
background-image:url(../images/icons/wrench.png);
border-color:#E5C47B;
color:#A5874A
}

.ux-msg.system a {
color:#A5874A
}

.ux-msg.warning,.ux-inline-msg.mandatory {
background-color:#F9F9E5;
background-image:url(../images/icons/warning.png);
border-color:#E8E3AA;
color:#828400
}

.ux-msg.warning a {
color:#828400
}

.ux-msg.access,.ux-inline-msg.optional {
background-color:#F0F0F0;
background-image:url(../images/icons/accessibility.png);
border-color:#B4B4B4;
color:#3C3C3C
}

.ux-msg.access a {
color:#3C3C3C
}

.ux-inline-msg {
background-image:none!important;
display:inline-block;
font-size:10px;
margin:0 6px;
padding:0 5px
}

.ux-msg a:hover,.ux-msg.error a:hover,.ux-msg.success a:hover,.ux-msg.system a:hover,.ux-msg.warning a:hover,.ux-msg.access a:hover {
color:#5683A2
}

.ux-weak {
background:none repeat scroll 0 0 #F6F6F6;
border:1px solid #CCC;
border-radius:3px;
color:#4c4c4c;
font-size:10px;
margin-bottom:15px;
padding:5px 7px
}

table .ux-weak {
background:none;
border:none;
display:block;
font-weight:400;
margin:0;
padding:0;
text-align:left
}

.ux-strong {
background:none repeat scroll 0 0 #EFEFEF;
border:2px solid #CCC;
border-radius:3px;
font-weight:700;
margin-bottom:15px;
padding:8px 12px
}

.dol-container .ux-weak,.dol-container .ux-strong {
margin-top:10px
}

/* Form inline message */
.ux-msg.ux-msg-inline {
	background-position: 3px 3px;
	display: inline-block;
	margin: 2px 0;
	padding: 2px 6px 1px 24px;
}

legend .ux-msg.ux-msg-inline {
	display: block;
	background-position: 3px 3px;
	margin: 2px 0;
	padding: 2px 6px 1px 24px;
}

/* Tables
------------------- */

table {
	background-color:#D5D5D5;
	margin-bottom: 10px;
	width:100%
}

table thead th {
	text-align:left;
	text-shadow:0 1px 0 #FFF;
	text-transform:capitalize
}

table,th,td {
	border:1px solid #D5D5D5
}

table caption {
	background-color:#EFEFEF;
	border-bottom:none;
	border:1px solid #D5D5D5;
	color:#3D6683;
	font-size:14px;
	font-weight:700;
	line-height:1.1;
	padding:5px;
	text-align:center;
	text-shadow:0 1px 0 #FFF;
	text-transform:capitalize
}

table tr {
	background-color:#FFF
}

table th,.column-label,.column-input {
	color: #656565;
	padding: 4px 7px;
	vertical-align: top
}

table th,.column-label {
	background-color:#EFEFEF;
	font-weight:700;
	text-align:left
}

table th {
	padding:4px
}

table td {
	overflow: hidden;
	padding: 3px 6px;
	vertical-align: middle
}

/* Data Tables 
-------------------- */

.data-table {
	table-layout:fixed;
	word-wrap:break-word
}

.data-table tr.table-row-odd, .dataTables_wrapper tr.odd {
	background-color:#FFF
}

.data-table tr.table-row-even, .dataTables_wrapper tr.even {
	background-color:#f7f7f7
}

.data-table tr.table-row-odd:hover,
.data-table tr.table-row-odd:hover th,
.data-table tr.table-row-even:hover,
.data-table tr.table-row-even:hover th,
.dataTables_wrapper tr.odd:hover,
.dataTables_wrapper tr.odd:hover th,
.dataTables_wrapper tr.even:hover,
.dataTables_wrapper tr.even:hover th {
	background-color:#FFFFE5!important
}

/*on-hover image on table rows. Just a subtle difference to make the current row noticeable*/
.data-table thead th,.data-table thead .column-label {
	text-align:left;
	width:auto
}

.data-table td.numeric {
text-align:right
}

.data-table caption .button_header {
	float:right;
	margin-left:-1000px;
	position:relative;
	right:-4px
}

.data-table tfoot {
	border-top:solid 2px #D5D5D5!important
}

.ie7 .data-table tfoot tr:first-child td {
	border-top:solid 2px #D5D5D5!important
}

/* jqDataTable Specific */
.datatables_wrapper thead th {
	background-color:#EFEFEF
}

.sortheaderspan {
	cursor:pointer
}

/* override */
.ie7 .data-table caption .button_header {
	margin-left:0
}

/* jqDataTables */
.ux-jqdt-row-expandable img {
left:-4px;
margin:0;
position:relative;
top:3px
}

.ux-jqdt-row-expandable .ux-jqdt-row-expand-trigger {
text-decoration:none
}

li.ux-jqdt-row-expandable {
list-style:none
}

.js .ux-jqdt-row-expandable .ux-jqdt-row-expand-content {
display:none
}

/* ======================= */
/* = Widget : DataTables = */
/* ======================= */
.dataTables_length {
	float: left;
	display: inline-block;
	margin: 3px 0;
	text-align: left;
	padding-left: 5px;
	width: 45%
}

.dataTables_filter {
	float: right;
	display: inline-block;
	margin: 3px 0;
	text-align: right;
	width: 45%
}

.DataTables_sort_wrapper img {
	margin:0;
}

.DataTables_sort_wrapper .DataTables_sort_icon {
	display:inline;
}

.DataTables_sort_wrapper {
	position:relative;
}

.DataTables_sort_wrapper .ui-icon {
	position:absolute;
	right:-6px;
	top:0;
}

.dataTables_wrapper table {
	margin-bottom:0
}

div.dataTables_wrapper {
	margin-bottom:10px
}

.datatables_length {
	float:left;
	left:10px;
	position:relative;
	top:2px
}

.dataTables_info {
	float: left;
	padding: 3px 0 0 10px;
	text-align: left;
	width: 45%;
}

.dataTables_paginate {
	float: right;
	text-align: right;
	padding: 3px 0 10px 0;
	width: 45%;
}

.datatables_paginate .ui-buttonset .ui-button {
	padding:2px 5px!important
}


li.ux-jQDT-row-expandable {
	list-style: none;
}

li.ux-jQDT-row-expandable a {
	text-decoration: none;
}

li.ux-jQDT-row-expandable a img {
    margin: 0 0 -3px;
    padding-right: 5px;
}