header a, header a:link, header a:visited {
	color: #FFF;
	text-decoration: none;
}

/* Govoner Banner
----------------------------------- */

#gov-bar, #gov-bar .ux-content {
	background: #036;
	height: 28px;
}

.gov-img {
	background: url(../images/nys-banner-img.png) no-repeat 0 0 transparent;
	display: inline-block;
	height: 28px;
}

#gov-link1, #gov-link2 {
	float: left;
}

#gov-link1 {
	width: 197px;
}

#gov-link2 {
	background-position: 0 -28px;
	width: 145px;
}

#gov-link3 {
	background-position: 0 -56px;
	float: right;
	width: 150px;
}

/* Govoner Search 
----------------------- */
#gov-search-form {
	display: none;
	float: right;
	margin-top: 4px;
	padding-right: 5px;
}

#gov-search-wrap,
#ux-search-wrap {
	background: #FFF;
	border-radius: 7px;
	display: inline-block;
	padding: 0 7px;
}

#gov-search-box,
#ux-search-box {
	border: 0;
	float: left;
	font-size: 12px;
	margin: 1px 0 0 0;
	padding: 0;
	width: 84%;
}

#gov-search-button,
#ux-search-button {
	background: url(../images/icons/magnifier_disabled.png) no-repeat 0 0 transparent;
	border: 0;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px
}

.ie #gov-search-wrap,
.ie #ux-search-wrap {
	width: 175px;
}
.ie #gov-search-box,
.ie #ux-search-box {
	width: 150px;
}

.ie7 #gov-search-button,
.ie7 #ux-search-button {
	display: inline-block;
	line-height: 99px;
}


/* Department Header
----------------------- */

#ux-main, #ux-main .ux-content {
	background: #771C2D;;
	height: 48px;
}

#ux-logo a {
	background: url(../images/dol-header-sprite.png) no-repeat 0 -64px transparent;
	display: block;
	float: left;
	height: 48px;
	width: 125px;
}

#ux-app-name {
	color: #FFF;
	float: left;
	font-size: 20px;
	margin: 10px 0 0 20px;
	text-shadow: 1px 1px 2px #000;
}

/* Department Global Menu */

#ux-global-menu {
	float: right;
	list-style: none;
	margin: 18px 0 5px 15px;
}

#ux-global-menu li {
	display: inline;	
}

/* Department Site Search */

#ux-site-search {
	float: right;
	margin: 17px 0;
}

/* Global Navigation
----------------------- */

#global-nav, #global-nav .ux-content {
	background: #3C3C3C;;
	height: 28px;
}

#global-nav ul {
	float: left;
	list-style: none;
	margin: 7px 0 0 10px;
}

#global-nav ul li {
	display: inline;
}

#global-nav ul li a {
	color: #FFF;
	font-size: 12px;
	padding: 0 7px;
}

#global-nav ul li a span {
	background: url(../images/icons/arrow-down.png) no-repeat right 7px transparent;
	padding-right: 10px;
}

