#ux-header {
	xcolor: #FFF;
	width:100%;
}

/* New York Stat Govoner banner styling
----------------------------------------------------------------------------------------------------*/
#gov-banner {
	background-color: #036;
}

#gov-banner, #gov-banner .header-content, .gov-img {
	height: 28px;
	overflow: hidden;
}

.gov-img {
	display: inline-block;
}

.img1 {
	background: url(../images/nys-banner-img.png) no-repeat -16px 0 transparent;
	width: 170px;
}

.img2 {
	background: url(../images/nys-banner-img.png) no-repeat 0 -28px transparent;
	width: 140px;	
}

.img3 {
	background: url(../images/nys-banner-img.png) no-repeat 0 -56px transparent;
	width: 145px;
}

/* Large Size Header
----------------------------------------------------------------------------------------------------*/
#main-header {
	background-color: #771C2D;
}

#main-header, #main-header #site-logo {
	height: 64px;
}

#site-logo {
	background: url(../images/dol-test.png) no-repeat 0 0 transparent;
	display: block;
	margin: 0;
	width: 150px;
}

/* Normal Size Header
----------------------------------------------------------------------------------------------------*/
#main-header.skinny, #main-header.sknny #site-logo {
	height: 48px;
}

#main-header.skinny #site-logo {
	width: 125px;
}

/* Tiny Header
----------------------------------------------------------------------------------------------------*/
#main-header.tiny, #main-header.tiny #site-logo {
	height: 32px;
}

#main-header.tiny #site-logo {
	width: 200px;
}

#global-nav {
	background-color: #696969;
	height: 28px;
	border-bottom: 1px solid #C3C3C3;
}