#ux-header {
	color: #FFF;
	width:100%;
}

/* New York Stat Govoner banner styling
----------------------------------------------------------------------------------------------------*/
#gov-banner {
	background-color: #036;
}

#gov-banner, #gov-banner .header-content, .gov-img {
	height: 28px;
	overflow: hidden;
}

.gov-img {
	display: inline-block;
	float: left;
}

.img1 {
	background: url(../images/nys-banner-img.png) no-repeat -16px 0 transparent;
	width: 170px;
}

.img2 {
	background: url(../images/nys-banner-img.png) no-repeat 0 -28px transparent;
	width: 140px;	
}

.img3 {
	background: url(../images/nys-banner-img.png) no-repeat 0 -56px transparent;
	float: right;
	width: 145px;
}

#gov-search-form {
	display: none;
}

#gov-search-form form {
	margin-top: 2px;
}

#gov-search-form #searchbutton {
	border-color: #036;
}

#gov-search-form #searchbox, #gov-search-form #searchbutton {
	font-size: 12px;
}

/* Large Size Header
----------------------------------------------------------------------------------------------------*/
#main-header {
	background-color: #771C2D;
}

#main-header, #main-header #site-logo {
	height: 64px;
}

#site-logo {
	background: url(../images/dol-test.png) no-repeat 0 0 transparent;
	display: block;
	float: left;
	margin: 0;
	width: 150px;
}

#app-name {
	float: left;
	margin-left: 200px;
	margin-top: 10px;
	text-shadow: 1px 2px 1px black;
	width: 350%;
}

#gov-name {
	color: #c4c4c4;
	float: left;
	font-size: 10px;
	margin-top: -5px;
	margin-left: 22px;
	width: 400%;
}



/* Normal Size Header
----------------------------------------------------------------------------------------------------*/
#main-header.skinny, #main-header.sknny #site-logo {
	height: 48px;
}

#main-header.skinny #site-logo {
	background: url(../images/dol-test2.png) no-repeat 0 0 transparent;
	width: 125px;
}

/* Tiny Header
----------------------------------------------------------------------------------------------------*/
#main-header.tiny, #main-header.tiny #site-logo {
	height: 32px;
}

#main-header.tiny #site-logo {
	background: url(../images/dol-test3.png) no-repeat 0 0 transparent;
	width: 200px;
}

#global-nav {
	background-color: #696969;
	height: 28px;
	border-bottom: 1px solid #C3C3C3;
}

/* Odds and Ends
----------------------------------------------------------------------------------------------------*/
.skipto {
	display: none;
}

.skipto:focus {
	display: block;
}