@media handheld, only screen and (min-width: 200px) and (max-width: 599px) {
	
	/* Shared Header Classes
	-------------------------- */
	.fluid #gov-bar .ux-content,
	.fluid #gov-bar,
	.fluid #ux-main .ux-content,
	.fluid #ux-main {
		height: auto;
		width: auto;
	}


	.fluid .gov-img span,
	.fluid h1 span {
		clip: auto;
		position: relative;
	}
	
	/* Govoner Banner
	----------------------------------- */

	.fluid .gov-img {
		background: none;
		height: auto;
	}

	.fluid #gov-links {
		height: 20px;
	}

	.fluid #gov-links a {
		padding: 0 5px;
	}

	.fluid #gov-link1 {
		float: left;
		width: auto;
	}

	.fluid #gov-link2 {
		float: right;
		width: auto;
	}

	.fluid #gov-link3 {
		display: block;
		padding-bottom: 3px;
	}

	.fluid #gov-link3,
	.fluid #gov-search-form {
		float: none;
		margin: 0;
		text-align: center;
		width: auto;
	}

	.fluid #gov-search {
		height: auto;
	}

	.fluid #gov-search-form {
		padding: 0 0 5px 0;
	}

	.fluid #gov-search-wrap {
		width: 90%;
	}

	/* Department Header
	----------------------------------- */

	.fluid #ux-logo a {
		background: none;
		display: block;
		height: auto;
		text-align: center;
		width: 100%;
	}

	.fluid #ux-logo a span {
		font-size: 14px;
	}

	.fluid #ux-app-name {
		display: none;
	}

	.fluid #ux-global-menu,
	.fluid #ux-global-menu li,
	.fluid #ux-site-search {
		float: none;
		text-align: center;
	}

	.fluid #ux-global-menu {
		margin: 0;
	}

	.fluid #ux-site-search {
		margin: 5px 0;
		padding-bottom: 3px;
	}

	.fluid #ux-search-wrap {
		width: 90%;
	}

	.fluid #gov-search-box,
	.fluid #ux-search-box {
		font-size: 16px;
	}

	/* Mobile Only Content
	----------------------------------- */

	.fluid .ux-mobile-only {
		display: block;
	}

}

@media handheld, only screen and (min-width: 600px) {
	body.fluid {
		background: red;
	}
}

@media screen and (min-width: 768px) {
	body.fluid {
		background: black;
	}
}

@media screen and (min-width: 960px) {
	body.fluid {
		background: orange;
	}
}