/* Smart Phones */
@media handheld, only screen and (min-width: 200px) and (max-width: 599px) {

	.fluid #page-wrap, .fluid #ux .content {
		height: auto;
		width: 100%;
	}

	/* Grid System
	------------------------------------------------------- */

	.fluid .container_12 [class*="suffix_"],
	.fluid .container_16 [class*="suffix_"],
	.fluid .container_24 [class*="suffix_"] {
		padding-right: 0;
	}

	.fluid .container_12 [class*="grid_"],
	.fluid .container_16 [class*="grid_"],
	.fluid .container_24 [class*="grid_"] {
		display: block;
		float: none;
		width: auto;
		margin: 0 5%;
	}

	.fluid .container_12 [class*="prefix_"],
	.fluid .container_16 [class*="prefix_"],
	.fluid .container_24 [class*="prefix_"] {
		padding-left: 0;
	}

	.fluid .container_12 [class*="push_"],
	.fluid .container_16 [class*="push_"],
	.fluid .container_24 [class*="push_"],
	.fluid .container_12 [class*="pull_"],
	.fluid .container_16 [class*="pull_"],
	.fluid .container_24 [class*="pull_"] {
		left: 0;
	}

	/* Fluid Header
	------------------------------------------------------- */

	/* Global rules
	--------------------- */
	.fluid #ux a,
	.fluid #ux form {
		color: #FFF;
		text-align: center;
		text-decoration: none;
		height: auto;
		width: auto;
	}

	.fluid header .ux-hide-508 {
		clip: auto;
		position: relative;
	}

	.fluid #gov-bar, .fluid #ux-main {
		height: auto;
	}

	.fluid #gov-bar .gb-img,
	.fluid #gov-bar #gov-search-form,
	.fluid #ux-global-menu,
	.fluid #ux-global-menu li {
		background: none;
		float: none;
		text-align: center;
	}

	/* Govoner Banner
	--------------------- */

	.fluid #gov-bar .img1 {
		float: left;
	}

	.fluid #gov-bar .img2 {
		float: right;
	}

	.fluid #gov-search-form {
		margin: 0;
		padding: 0 0 5px 0;
	}


	/* Department Header
	--------------------- */

	.fluid #ux-main h1 a {
		background: none;
		font-size: 16px;
		width: 100%;
	}

	.fluid #ux-app-name {
		display: none;
	}

	.fluid #ux-global-menu {
		margin: 15px 0 10px 0;
	}

	.fluid #ux-global-menu li {
		display: inline;
	}

	.fluid #ux-site-search {
		float: none;
		margin: 0 0 5px 0;
		width: 100%;
	}

	.fluid #ux-search-wrap,
	.fluid #ux-search-wrap .ux-search-box {
		width: 90%;
		margin: 0 auto;
	}

	/* Re-add the clip */
	.fluid #ux-search-wrap label {
		position: absolute;
		clip: rect(1px, 1px, 1px, 1px);
	}

	/* Global Menu
	---------------- */

	.fluid #ux-global {
		display: none;
	}

}

@media handheld, only screen and (min-width: 600px) {

	/* Force Users to use tiny header here and no title
	---------------------------------------------------- */

	.fluid #page-wrap, .fluid #ux .content {
		width: 600px;
	}

	.fluid #ux-main {
		height: 32px;
	}

	.fluid #ux-main h1 a {
		background-position: 0 -112px;
	}

	.fluid #ux-app-name {
		display: none;
	}

	.fluid #ux-global-menu {
		margin-top: 10px;
	}

	.fluid #ux-site-search {
		margin-top: 7px;
	}

	body {
		background: #000;
	}

}

@media screen and (min-width: 768px) {

	.fluid #page-wrap, .fluid #ux .content {
		width: 768px;
	}

	.fluid #ux-main {
		height: 48px;
	}

	.fluid #ux-main h1 a {
		background-position: 0 -64px;
	}

	.fluid #ux-app-name {
		display: none;
	}

	#ux-main #ux-global-menu {
		margin-top: 17px;
	}

	#ux-main.skinny #ux-site-search {
		margin: 15px 10px 0 0;
	}


	body {
		background: red;
	}

}

@media screen and (min-width: 960px) {

	.fluid #page-wrap, .fluid #ux .content {
		width: 960px;
	}

	body {
		background: #FFF;
	}
	
}