/* Header Styling
---------------------------- */

h1 { 
	margin:0; 
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
	color: #3D6683;
	margin:20px 0 10px
}

header {
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

h2, .h2 {
	font-size:20px;
	line-height:1;
	margin:0 0 20px
}

h3, .h3 {
	font-size:16px
}

h4, .h4 {
	font-size:14px;
	font-weight:700
}

h5, h6, .h5, .h6 {
	font-size:12px;
	font-weight:700
}

.ux-header-subtitle {
	color:#696969;
	display:block;
	font-size:.6em;
	font-style:italic;
	font-weight:400;
	margin:5px 0 10px
}

h3 .ux-header-subtitle {
	font-size:.75em;
	margin:0 0 10px
}

h4 .ux-header-subtitle {
	font-size:.85em
}

h5 .ux-header-subtitle {
	font-size:.95em
}

/* Generic Body
-------------------- */

#ux-body {
	line-height:1.4
}