/* Floating elements
----------------------------------------------------------------------------------------------------*/
.left {
	float: left;
}

.right {
	float: right;
}


/* Controling visibility of elements
----------------------------------------------------------------------------------------------------*/

/* Hide content and make sure it stay hidden from screen readers */
.ux-hide, html.nojs .ux-hide-nojs, .ux-js-hide, {
	display: none;
	speak: none;
}

/* Hide text but still make it accessible for screen readers */
.ux-hide-508 {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE7 fix */
	clip: rect(1px, 1px, 1px, 1px);
}