#counter p {
	font-weight: bold;
	text-align: center;
}

#counter,
#counter-numbers,
#day-container,
#hours-container,
#minutes-container,
#seconds-container {
	display: inline-block;
}


#day-container span,
#hours-container span,
#minutes-container span,
#seconds-container span {
	text-align: center;
	display: block;
}

#day-container span.title,
#hours-container span.title {
	margin: 0 10px;
}

#minutes-container span.title {
	margin: 0 7px;
}

#seconds-container span.title {
	margin: 0 5px;
}

#rdays, #rhours, #rmins, #rsecs {
	background: #000;
	color: #FFF;
	border-radius: 5px;
	padding: 3px;
	width: 25px;
	margin: 0 auto;
}

#minutes-container {
	margin-left: -3px;
}

#seconds-container {
	margin-left: -5px;
}

.ie7 #counter {
	width: 300px;
	text-align: center;
}

.ie7 .counter-numbers {
	width: 225px;
}

.ie7 #day-container,
.ie7 #hours-container,
.ie7 #minutes-container,
.ie7 #seconds-container {
	width: 55px;
	float: left;
}

.ie7 #day-container span.title,
.ie7 #hours-container span.title,
.ie7 #minutes-container span.title,
.ie7 #seconds-container span.title {
	margin: 0 10px;
}

.ie7 #minutes-container span.title {
	margin: 0 5px;
}

.ie7 #seconds-container span.title {
	margin: 0 5px;
}

.ie7 #minutes-container,
.ie7 #seconds-container {
	margin: 0;
}